### [Reference](https://github.com/krishnakartik1/LSTM-footballMatchWinner)

In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import train_test_split

%load_ext autoreload
%autoreload 2

# making all pandas columns visable with display command
pd.set_option('display.max_columns', 500)

import warnings
warnings.filterwarnings('ignore')

loc = "/datasets"

In [2]:
df = pd.read_csv('datasets/EPL_sort.csv', index_col=0)
df['date'] = pd.to_datetime(df['date'], format='%Y-%m-%d', errors='ignore')
# df = df[df['season'] == '2015/2016
df = df.rename(columns={'date':'Date', 'home_team_api_id':'HomeTeam','away_team_api_id':'AwayTeam',
                        'home_team_goal':'FTHG','away_team_goal':'FTAG','Result':'FTR'})
df

,id,season,stage,Date,match_api_id,HomeTeam,AwayTeam,FTHG,FTAG,B365H,B365D,B365A,home_y_card,home_r_card,away_y_card,away_r_card,home_shoton,away_shoton,home_shotoff,away_shotoff,home_foulcommit,away_foulcommit,home_cross,away_cross,home_corner,away_corner,home_possession,away_possession,HTP,ATP,FTR
1,1730,2008/2009,1,2008-08-16,489043,Arsenal,West Bromwich Albion,1,0,1.20,6.50,15.00,0,0,0,0,12,2,13,3,11,9,21,7,7,5,66,34,0,0,H
7,1736,2008/2009,1,2008-08-16,489049,Bolton Wanderers,Stoke City,3,1,1.83,3.50,4.50,1,0,2,0,5,1,7,6,14,15,22,29,4,3,47,53,0,0,H
5,1734,2008/2009,1,2008-08-16,489047,Everton,Blackburn Rovers,2,3,2.00,3.30,4.00,2,0,2,0,2,8,7,8,11,11,14,21,3,4,51,49,0,0,A
8,1737,2008/2009,1,2008-08-16,489050,Hull City,Fulham,2,1,2.60,3.20,2.80,3,0,0,0,5,4,5,6,10,9,16,14,5,6,53,47,0,0,H
6,1735,2008/2009,1,2008-08-16,489048,Middlesbrough,Tottenham Hotspur,2,1,3.20,3.40,2.25,1,0,2,0,7,2,5,5,11,11,25,27,7,9,53,47,0,0,H
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2976,4705,2015/2016,38,2016-05-15,1987603,Stoke City,West Ham United,2,1,3.50,3.60,2.15,3,0,1,0,3,10,2,7,8,12,13,18,4,10,45,55,48,62,H
2977,4706,2015/2016,38,2016-05-15,1987604,Swansea City,Manchester City,1,1,6.00,4.75,1.53,1,0,3,0,1,5,2,12,5,19,14,15,4,4,50,50,46,65,D
2978,4707,2015/2016,38,2016-05-15,1987605,Watford,Sunderland,2,2,2.05,3.75,3.70,1,0,0,0,6,2,10,2,10,9,9,12,7,4,49,51,44,38,D
2979,4708,2015/2016,38,2016-05-15,1987606,West Bromwich Albion,Liverpool,1,1,2.40,3.60,3.00,3,0,1,0,5,3,8,3,12,13,12,14,7,5,33,67,42,59,D
2973,4702,2015/2016,38,2016-05-17,1987600,Manchester United,Bournemouth,3,1,1.67,4.20,5.25,1,0,0,0,5,5,4,2,9,8,16,5,7,1,68,32,63,42,H

In [3]:
# raw_data_1=pd.read_csv(loc+"2017-18.csv")
raw_data_1516 = df[df['season'] == '2015/2016']
raw_data_1415 = df[df['season'] == '2014/2015']
raw_data_1314 = df[df['season'] == '2013/2014']
raw_data_1213 = df[df['season'] == '2012/2013']
raw_data_1112 = df[df['season'] == '2011/2012']
raw_data_1011 = df[df['season'] == '2010/2011']
raw_data_0910 = df[df['season'] == '2009/2010']
raw_data_0809 = df[df['season'] == '2008/2009']

In [4]:
# print(len(raw_data_1516.columns))
# print(len(raw_data_1415.columns))
# print(len(raw_data_1314.columns))
# print(len(raw_data_1213.columns))
# print(len(raw_data_1112.columns))
# print(len(raw_data_1011.columns))
# print(len(raw_data_0910.columns))
# print(len(raw_data_0809.columns))

In [5]:
# print(raw_data_1516.shape)
# print(raw_data_1415.shape)
# print(raw_data_1314.shape)
# print(raw_data_1213.shape)
# print(raw_data_1112.shape)
# print(raw_data_1011.shape)
# print(raw_data_0910.shape)
# print(raw_data_0809.shape)

In [6]:
columns_req = ['Date','HomeTeam','AwayTeam','FTHG','FTAG','FTR']

In [7]:
playing_statistics_1516=raw_data_1516[columns_req]
playing_statistics_1415=raw_data_1415[columns_req]
playing_statistics_1314=raw_data_1314[columns_req]
playing_statistics_1213=raw_data_1213[columns_req]
playing_statistics_1112=raw_data_1112[columns_req]
playing_statistics_1011=raw_data_1011[columns_req]
playing_statistics_0910=raw_data_0910[columns_req]
playing_statistics_0809=raw_data_0809[columns_req]
playing_statistics_1516.head()

           Date           HomeTeam           AwayTeam  FTHG  FTAG FTR
2661 2015-08-08        Bournemouth        Aston Villa     0     1   A
2662 2015-08-08            Chelsea       Swansea City     2     2   D
2663 2015-08-08            Everton            Watford     2     2   D
2664 2015-08-08     Leicester City         Sunderland     4     2   H
2665 2015-08-08  Manchester United  Tottenham Hotspur     1     0   H

In [8]:
def get_goals_scored(playing_stat):
    print("get_goals_scored")
    # Create a dictionary with team names as keys
    teams = {}
    for i in playing_stat.groupby('HomeTeam').mean().T.columns:
#         print("check {} \n".format(i))
        teams[i] = []
    
    # the value corresponding to keys is a list containing the match location.
    for i in range(len(playing_stat)):
        HTGS = playing_stat.iloc[i]['FTHG']
        ATGS = playing_stat.iloc[i]['FTAG']
        teams[playing_stat.iloc[i].HomeTeam].append(HTGS)
        teams[playing_stat.iloc[i].AwayTeam].append(ATGS)
        
#     for i in teams.keys():
#         print("check",len(teams[i]))
#         print(teams[i])
#         if len(teams[i])==31:
#             teams[i]=teams[i][:-1]
#             print("check",len(teams[i]))
#     print("teams",len(teams["Arsenal"]))
#     print(teams)
    # Create a dataframe for goals scored where rows are teams and cols are matchweek.
    GoalsScored = pd.DataFrame(data=teams, index = [i for i in range(1,39)]).T
    GoalsScored[0] = 0
    # Aggregate to get uptil that point
    for i in range(2,39):
        GoalsScored[i] = GoalsScored[i] + GoalsScored[i-1]
    return GoalsScored



# Gets the goals conceded agg arranged by teams and matchweek
def get_goals_conceded(playing_stat):
    # Create a dictionary with team names as keys
    teams = {}
    for i in playing_stat.groupby('HomeTeam').mean().T.columns:
#         print("check {} \n".format(i))
        teams[i] = []
    
    # the value corresponding to keys is a list containing the match location.
    for i in range(len(playing_stat)):
        ATGC = playing_stat.iloc[i]['FTHG']
        HTGC = playing_stat.iloc[i]['FTAG']
        teams[playing_stat.iloc[i].HomeTeam].append(HTGC)
        teams[playing_stat.iloc[i].AwayTeam].append(ATGC)
#     print(len(teams.keys))
#     for i in teams.keys():
#         print("check",len(teams[i]))
#         print(teams[i])
#         if len(teams[i])==31:
#             teams[i]=teams[i][:-1]
#             print("check",len(teams[i]))
#     print("teams",len(teams["Arsenal"]))
#     print(teams)
    
    # Create a dataframe for goals scored where rows are teams and cols are matchweek.
    GoalsConceded = pd.DataFrame(data=teams, index = [i for i in range(1,39)]).T
    GoalsConceded[0] = 0
    # Aggregate to get uptil that point
    for i in range(2,len(teams["Arsenal"])+1):
        GoalsConceded[i] = GoalsConceded[i] + GoalsConceded[i-1]
    return GoalsConceded

def get_gss(playing_stat):
    GC = get_goals_conceded(playing_stat)
    GS = get_goals_scored(playing_stat)
   
    j = 0
    HTGS = []
    ATGS = []
    HTGC = []
    ATGC = []

    for i in range(380):
        ht = playing_stat.iloc[i].HomeTeam
        at = playing_stat.iloc[i].AwayTeam
        HTGS.append(GS.loc[ht][j])
        ATGS.append(GS.loc[at][j])
        HTGC.append(GC.loc[ht][j])
        ATGC.append(GC.loc[at][j])
        
        if ((i + 1)% 10) == 0:
            j = j + 1
    
#     print("check line 87")
#     print(playing_stat.shape,len(HTGS))
    
    playing_stat['HTGS'] = HTGS
    playing_stat['ATGS'] = ATGS
    playing_stat['HTGC'] = HTGC
    playing_stat['ATGC'] = ATGC
    
    return playing_stat

# Apply to each dataset
playing_statistics_1516=get_gss(playing_statistics_1516)
playing_statistics_1415=get_gss(playing_statistics_1415)
playing_statistics_1314=get_gss(playing_statistics_1314)
playing_statistics_1213=get_gss(playing_statistics_1213)
playing_statistics_1112=get_gss(playing_statistics_1112)
playing_statistics_1011=get_gss(playing_statistics_1011)
playing_statistics_0910=get_gss(playing_statistics_0910)
playing_statistics_0809=get_gss(playing_statistics_0809)

get_goals_scored
get_goals_scored
get_goals_scored
get_goals_scored
get_goals_scored
get_goals_scored
get_goals_scored
get_goals_scored

In [9]:
playing_statistics_1516.tail()

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTGS,ATGS,HTGC,ATGC
2976,2016-05-15,Stoke City,West Ham United,2,1,H,39,64,54,49
2977,2016-05-15,Swansea City,Manchester City,1,1,D,41,70,51,40
2978,2016-05-15,Watford,Sunderland,2,2,D,38,46,48,60
2979,2016-05-15,West Bromwich Albion,Liverpool,1,1,D,33,62,47,49
2973,2016-05-17,Manchester United,Bournemouth,3,1,H,46,44,34,64

In [10]:
def get_points(result):
    if result == 'W':
        return 3
    elif result == 'D':
        return 1
    else:
        return 0
    

def get_cuml_points(matchres):
    matchres_points = matchres.applymap(get_points)
    for i in range(2,31):
        matchres_points[i] = matchres_points[i] + matchres_points[i-1]
        
    matchres_points.insert(column =0, loc = 0, value = [0*i for i in range(20)])
    return matchres_points


def get_matchres(playing_stat):
#     print("here")
    # Create a dictionary with team names as keys
    teams = {}
    for i in playing_stat.groupby('HomeTeam').mean().T.columns:
        teams[i] = []

    # the value corresponding to keys is a list containing the match result
    for i in range(len(playing_stat)):
        if playing_stat.iloc[i].FTR == 'H':
            teams[playing_stat.iloc[i].HomeTeam].append('W')
            teams[playing_stat.iloc[i].AwayTeam].append('L')
        elif playing_stat.iloc[i].FTR == 'A':
            teams[playing_stat.iloc[i].AwayTeam].append('W')
            teams[playing_stat.iloc[i].HomeTeam].append('L')
        else:
            teams[playing_stat.iloc[i].AwayTeam].append('D')
            teams[playing_stat.iloc[i].HomeTeam].append('D')
    
#     for i in teams.keys():
#         print("check",len(teams[i]))
#         print(teams[i])
#         if len(teams[i])>=31:
#             teams[i]=teams[i][:30]
#             print("check",len(teams[i]))
#     print("teams",len(teams["Arsenal"]))
#     print(teams)
            
    return pd.DataFrame(data=teams, index = [i for i in range(1,39)]).T

def get_agg_points(playing_stat):
    matchres = get_matchres(playing_stat)
    cum_pts = get_cuml_points(matchres)
    HTP = []
    ATP = []
    j = 0
    for i in range(380):
        ht = playing_stat.iloc[i].HomeTeam
        at = playing_stat.iloc[i].AwayTeam
        HTP.append(cum_pts.loc[ht][j])
        ATP.append(cum_pts.loc[at][j])

        if ((i + 1)% 10) == 0:
            j = j + 1
            
    playing_stat['HTP'] = HTP
    playing_stat['ATP'] = ATP
    return playing_stat
    
# Apply to each dataset
playing_statistics_1516=get_agg_points(playing_statistics_1516)
playing_statistics_1415=get_agg_points(playing_statistics_1415)
playing_statistics_1314=get_agg_points(playing_statistics_1314)
playing_statistics_1213=get_agg_points(playing_statistics_1213)
playing_statistics_1112=get_agg_points(playing_statistics_1112)
playing_statistics_1011=get_agg_points(playing_statistics_1011)
playing_statistics_0910=get_agg_points(playing_statistics_0910)
playing_statistics_0809=get_agg_points(playing_statistics_0809)

In [11]:
playing_statistics_1516.tail()

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTGS,ATGS,HTGC,ATGC,HTP,ATP
2976,2016-05-15,Stoke City,West Ham United,2,1,H,39,64,54,49,0,3
2977,2016-05-15,Swansea City,Manchester City,1,1,D,41,70,51,40,3,1
2978,2016-05-15,Watford,Sunderland,2,2,D,38,46,48,60,0,3
2979,2016-05-15,West Bromwich Albion,Liverpool,1,1,D,33,62,47,49,1,1
2973,2016-05-17,Manchester United,Bournemouth,3,1,H,46,44,34,64,0,1

In [12]:
def get_form(playing_stat,num):
    form = get_matchres(playing_stat)
    form_final = form.copy()
    for i in range(num,39):
        form_final[i] = ''
        j = 0
        while j < num:
            form_final[i] += form[i-j]
            j += 1           
    return form_final

def add_form(playing_stat,num):
    form = get_form(playing_stat,num)
    h = ['M' for i in range(num * 10)]  # since form is not available for n MW (n*10)
    a = ['M' for i in range(num * 10)]
    
    j = num
    for i in range((num*10),380):
        ht = playing_stat.iloc[i].HomeTeam
        at = playing_stat.iloc[i].AwayTeam
        
        past = form.loc[ht][j]               # get past n results
        h.append(past[num-1])                    # 0 index is most recent
        
        past = form.loc[at][j]               # get past n results.
        a.append(past[num-1])                   # 0 index is most recent
        
        if ((i + 1)% 10) == 0:
            j = j + 1
    
    playing_stat['HM' + str(num)] = h[:playing_stat.shape[0]]                 
    playing_stat['AM' + str(num)] = a[:playing_stat.shape[0]]

    
    return playing_stat


def add_form_df(playing_statistics):
    playing_statistics = add_form(playing_statistics,1)
    playing_statistics = add_form(playing_statistics,2)
    playing_statistics = add_form(playing_statistics,3)
    playing_statistics = add_form(playing_statistics,4)
    playing_statistics = add_form(playing_statistics,5)
    return playing_statistics    
    
# Make changes to df
playing_statistics_1516=add_form_df(playing_statistics_1516)
playing_statistics_1415=add_form_df(playing_statistics_1415)
playing_statistics_1314=add_form_df(playing_statistics_1314)
playing_statistics_1213=add_form_df(playing_statistics_1213)
playing_statistics_1112=add_form_df(playing_statistics_1112)
playing_statistics_1011=add_form_df(playing_statistics_1011)
playing_statistics_0910=add_form_df(playing_statistics_0910)
playing_statistics_0809=add_form_df(playing_statistics_0809)

In [13]:
playing_statistics_1516

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTGS,ATGS,HTGC,ATGC,HTP,ATP,HM1,AM1,HM2,AM2,HM3,AM3,HM4,AM4,HM5,AM5
2661,2015-08-08,Bournemouth,Aston Villa,0,1,A,0,0,0,0,0,0,M,M,M,M,M,M,M,M,M,M
2662,2015-08-08,Chelsea,Swansea City,2,2,D,0,0,0,0,0,0,M,M,M,M,M,M,M,M,M,M
2663,2015-08-08,Everton,Watford,2,2,D,0,0,0,0,0,0,M,M,M,M,M,M,M,M,M,M
2664,2015-08-08,Leicester City,Sunderland,4,2,H,0,0,0,0,0,0,M,M,M,M,M,M,M,M,M,M
2665,2015-08-08,Manchester United,Tottenham Hotspur,1,0,H,0,0,0,0,0,0,M,M,M,M,M,M,M,M,M,M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2976,2016-05-15,Stoke City,West Ham United,2,1,H,39,64,54,49,0,3,L,W,D,L,L,W,L,W,L,D
2977,2016-05-15,Swansea City,Manchester City,1,1,D,41,70,51,40,3,1,W,D,W,L,L,W,L,D,W,W
2978,2016-05-15,Watford,Sunderland,2,2,D,38,46,48,60,0,3,L,W,L,W,W,D,L,D,W,W
2979,2016-05-15,West Bromwich Albion,Liverpool,1,1,D,33,62,47,49,1,1,D,D,L,W,D,L,L,D,L,W
2973,2016-05-17,Manchester United,Bournemouth,3,1,H,46,44,34,64,0,1,L,D,W,L,D,L,W,L,W,W

In [14]:
cols = ['Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTGS', 'ATGS', 'HTGC', 'ATGC', 'HTP', 'ATP', 'HM1', 'HM2', 'HM3',
        'HM4', 'HM5', 'AM1', 'AM2', 'AM3', 'AM4', 'AM5' ]

playing_statistics_1516=playing_statistics_1516[cols]
playing_statistics_1415=playing_statistics_1415[cols]
playing_statistics_1314=playing_statistics_1314[cols]
playing_statistics_1213=playing_statistics_1213[cols]
playing_statistics_1112=playing_statistics_1112[cols]
playing_statistics_1011=playing_statistics_1011[cols]
playing_statistics_0910=playing_statistics_0910[cols]
playing_statistics_0809=playing_statistics_0809[cols]

In [15]:
playing_statistics_1516.tail()

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTGS,ATGS,HTGC,ATGC,HTP,ATP,HM1,HM2,HM3,HM4,HM5,AM1,AM2,AM3,AM4,AM5
2976,2016-05-15,Stoke City,West Ham United,2,1,H,39,64,54,49,0,3,L,D,L,L,L,W,L,W,W,D
2977,2016-05-15,Swansea City,Manchester City,1,1,D,41,70,51,40,3,1,W,W,L,L,W,D,L,W,D,W
2978,2016-05-15,Watford,Sunderland,2,2,D,38,46,48,60,0,3,L,L,W,L,W,W,W,D,D,W
2979,2016-05-15,West Bromwich Albion,Liverpool,1,1,D,33,62,47,49,1,1,D,L,D,L,L,D,W,L,D,W
2973,2016-05-17,Manchester United,Bournemouth,3,1,H,46,44,34,64,0,1,L,W,D,W,W,D,L,L,L,W

In [16]:
# Data source of `EPLStandings.csv`
# https://github.com/RudrakshTuwani/Football-Data-Analysis-and-Prediction/blob/master/Datasets/EPLStandings.csv
Standings = pd.read_csv("datasets/EPLStandings.csv")
Standings.set_index(['Team'], inplace=True)
Standings = Standings.fillna(18)
Standings = Standings.rename(index={'Swansea': 'Swansea City', 'Leicester': 'Leicester City',
                                    'Man United': 'Manchester United', 'Tottenham': 'Tottenham Hotspur',
                                    'Norwich': 'Norwich City', 'West Ham': 'West Ham United',
                                    'Newcastle': 'Newcastle United', 'Stoke': 'Stoke City',
                                    'West Brom': 'West Bromwich Albion', 'Man City': 'Manchester City',
                                    'QPR': 'Queens Park Rangers', 'Hull': 'Hull City',
                                    'Cardiff': 'Cardiff City', 'Wigan': 'Wigan Athletic',
                                    'Blackburn': 'Blackburn Rovers', 'Wolves': 'Wolverhampton Wanderers',
                                    'Bolton': 'Bolton Wanderers', 'Birmingham': 'Birmingham City'})
Standings = Standings.astype(int)
# print(Standings)

def get_last(playing_stat, Standings, year):
    HomeTeamLP = []
    AwayTeamLP = []
    for i in range(380):
        ht = playing_stat.iloc[i].HomeTeam
        at = playing_stat.iloc[i].AwayTeam
        HomeTeamLP.append(Standings.loc[ht][year])
        AwayTeamLP.append(Standings.loc[at][year])
    playing_stat['HomeTeamLP'] = HomeTeamLP
    playing_stat['AwayTeamLP'] = AwayTeamLP
    return playing_stat

playing_statistics_1516 = get_last(playing_statistics_1516, Standings, "2014")
playing_statistics_1415 = get_last(playing_statistics_1415, Standings, "2013")
playing_statistics_1314 = get_last(playing_statistics_1314, Standings, "2012")
playing_statistics_1213 = get_last(playing_statistics_1213, Standings, "2011")
playing_statistics_1112 = get_last(playing_statistics_1112, Standings, "2010")
playing_statistics_1011 = get_last(playing_statistics_1011, Standings, "2009")
playing_statistics_0910 = get_last(playing_statistics_0910, Standings, "2008")
playing_statistics_0809 = get_last(playing_statistics_0809, Standings, "2007")

In [17]:
playing_statistics_1516.head()

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTGS,ATGS,HTGC,ATGC,HTP,ATP,HM1,HM2,HM3,HM4,HM5,AM1,AM2,AM3,AM4,AM5,HomeTeamLP,AwayTeamLP
2661,2015-08-08,Bournemouth,Aston Villa,0,1,A,0,0,0,0,0,0,M,M,M,M,M,M,M,M,M,M,18,15
2662,2015-08-08,Chelsea,Swansea City,2,2,D,0,0,0,0,0,0,M,M,M,M,M,M,M,M,M,M,3,12
2663,2015-08-08,Everton,Watford,2,2,D,0,0,0,0,0,0,M,M,M,M,M,M,M,M,M,M,5,18
2664,2015-08-08,Leicester City,Sunderland,4,2,H,0,0,0,0,0,0,M,M,M,M,M,M,M,M,M,M,18,14
2665,2015-08-08,Manchester United,Tottenham Hotspur,1,0,H,0,0,0,0,0,0,M,M,M,M,M,M,M,M,M,M,7,6

In [18]:
def get_mw(playing_stat):
    j = 1
    MatchWeek = []
    for i in range(380):
        MatchWeek.append(j)
        if ((i + 1)% 10) == 0:
            j = j + 1
    playing_stat['MW'] = MatchWeek
    return playing_stat

playing_statistics_1516 = get_mw(playing_statistics_1516)
playing_statistics_1415 = get_mw(playing_statistics_1415)
playing_statistics_1314 = get_mw(playing_statistics_1314)
playing_statistics_1213 = get_mw(playing_statistics_1213)
playing_statistics_1112 = get_mw(playing_statistics_1112)
playing_statistics_1011 = get_mw(playing_statistics_1011)
playing_statistics_0910 = get_mw(playing_statistics_0910)
playing_statistics_0809 = get_mw(playing_statistics_0809)

In [19]:
playing_stat = pd.concat([playing_statistics_1516,
                         playing_statistics_1415,
                         playing_statistics_1314,
                         playing_statistics_1213,
                         playing_statistics_1112,
                         playing_statistics_1011,
                         playing_statistics_0910,
                         playing_statistics_0809], ignore_index=True)


# Gets the form points.
def get_form_points(string):
    sum = 0
    for letter in string:
        sum += get_points(letter)
    return sum

playing_stat['HTFormPtsStr'] = playing_stat['HM1'] + playing_stat['HM2'] + playing_stat['HM3'] + playing_stat['HM4'] + playing_stat['HM5']
playing_stat['ATFormPtsStr'] = playing_stat['AM1'] + playing_stat['AM2'] + playing_stat['AM3'] + playing_stat['AM4'] + playing_stat['AM5']

playing_stat['HTFormPts'] = playing_stat['HTFormPtsStr'].apply(get_form_points)
playing_stat['ATFormPts'] = playing_stat['ATFormPtsStr'].apply(get_form_points)

# Identify Win/Loss Streaks if any.
def get_3game_ws(string):
    if string[-3:] == 'WWW':
        return 1
    else:
        return 0
    
def get_5game_ws(string):
    if string == 'WWWWW':
        return 1
    else:
        return 0
    
def get_3game_ls(string):
    if string[-3:] == 'LLL':
        return 1
    else:
        return 0
    
def get_5game_ls(string):
    if string == 'LLLLL':
        return 1
    else:
        return 0
    
playing_stat['HTWinStreak3'] = playing_stat['HTFormPtsStr'].apply(get_3game_ws)
playing_stat['HTWinStreak5'] = playing_stat['HTFormPtsStr'].apply(get_5game_ws)
playing_stat['HTLossStreak3'] = playing_stat['HTFormPtsStr'].apply(get_3game_ls)
playing_stat['HTLossStreak5'] = playing_stat['HTFormPtsStr'].apply(get_5game_ls)

playing_stat['ATWinStreak3'] = playing_stat['ATFormPtsStr'].apply(get_3game_ws)
playing_stat['ATWinStreak5'] = playing_stat['ATFormPtsStr'].apply(get_5game_ws)
playing_stat['ATLossStreak3'] = playing_stat['ATFormPtsStr'].apply(get_3game_ls)
playing_stat['ATLossStreak5'] = playing_stat['ATFormPtsStr'].apply(get_5game_ls)

playing_stat.keys()

Index(['Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTGS', 'ATGS',
       'HTGC', 'ATGC', 'HTP', 'ATP', 'HM1', 'HM2', 'HM3', 'HM4', 'HM5', 'AM1',
       'AM2', 'AM3', 'AM4', 'AM5', 'HomeTeamLP', 'AwayTeamLP', 'MW',
       'HTFormPtsStr', 'ATFormPtsStr', 'HTFormPts', 'ATFormPts',
       'HTWinStreak3', 'HTWinStreak5', 'HTLossStreak3', 'HTLossStreak5',
       'ATWinStreak3', 'ATWinStreak5', 'ATLossStreak3', 'ATLossStreak5'],
      dtype='object')

In [20]:
# Get Goal Difference
playing_stat['HTGD'] = playing_stat['HTGS'] - playing_stat['HTGC']
playing_stat['ATGD'] = playing_stat['ATGS'] - playing_stat['ATGC']

# Diff in points
playing_stat['DiffPts'] = playing_stat['HTP'] - playing_stat['ATP']
playing_stat['DiffFormPts'] = playing_stat['HTFormPts'] - playing_stat['ATFormPts']

# Diff in last year positions
playing_stat['DiffLP'] = playing_stat['HomeTeamLP'] - playing_stat['AwayTeamLP']

In [21]:
playing_stat.head()

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTGS,ATGS,HTGC,ATGC,HTP,ATP,HM1,HM2,HM3,HM4,HM5,AM1,AM2,AM3,AM4,AM5,HomeTeamLP,AwayTeamLP,MW,HTFormPtsStr,ATFormPtsStr,HTFormPts,ATFormPts,HTWinStreak3,HTWinStreak5,HTLossStreak3,HTLossStreak5,ATWinStreak3,ATWinStreak5,ATLossStreak3,ATLossStreak5,HTGD,ATGD,DiffPts,DiffFormPts,DiffLP
0,2015-08-08,Bournemouth,Aston Villa,0,1,A,0,0,0,0,0,0,M,M,M,M,M,M,M,M,M,M,18,15,1,MMMMM,MMMMM,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3
1,2015-08-08,Chelsea,Swansea City,2,2,D,0,0,0,0,0,0,M,M,M,M,M,M,M,M,M,M,3,12,1,MMMMM,MMMMM,0,0,0,0,0,0,0,0,0,0,0,0,0,0,-9
2,2015-08-08,Everton,Watford,2,2,D,0,0,0,0,0,0,M,M,M,M,M,M,M,M,M,M,5,18,1,MMMMM,MMMMM,0,0,0,0,0,0,0,0,0,0,0,0,0,0,-13
3,2015-08-08,Leicester City,Sunderland,4,2,H,0,0,0,0,0,0,M,M,M,M,M,M,M,M,M,M,18,14,1,MMMMM,MMMMM,0,0,0,0,0,0,0,0,0,0,0,0,0,0,4
4,2015-08-08,Manchester United,Tottenham Hotspur,1,0,H,0,0,0,0,0,0,M,M,M,M,M,M,M,M,M,M,7,6,1,MMMMM,MMMMM,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1

In [22]:
# def only_hw(string):
#     if string == 'H':
#         return 'H'
#     else:
#         return 'NH'
    
# playing_stat['FTR'] = playing_stat.FTR.apply(only_hw)

In [23]:
playing_stat=playing_stat.drop(["Date","HomeTeam","AwayTeam","HomeTeamLP","AwayTeamLP","HTFormPts","ATFormPts",
                                "FTHG","FTAG","HTFormPtsStr","ATFormPtsStr"],axis=1)
playing_stat.tail()

,FTR,HTGS,ATGS,HTGC,ATGC,HTP,ATP,HM1,HM2,HM3,HM4,HM5,AM1,AM2,AM3,AM4,AM5,MW,HTWinStreak3,HTWinStreak5,HTLossStreak3,HTLossStreak5,ATWinStreak3,ATWinStreak5,ATLossStreak3,ATLossStreak5,HTGD,ATGD,DiffPts,DiffFormPts,DiffLP
3035,H,74,44,26,42,3,3,W,W,W,W,D,W,D,W,L,W,38,0,0,0,0,0,0,0,0,48,2,0,3,-2
3036,H,57,41,50,52,0,1,L,L,W,W,W,D,D,D,D,L,38,1,0,0,0,0,0,0,0,7,-11,-1,5,7
3037,A,32,65,51,22,0,3,L,D,L,L,W,W,W,W,W,D,38,0,0,0,0,0,0,0,0,-19,43,-3,-9,16
3038,H,40,27,44,55,0,1,L,L,W,L,D,D,L,L,L,D,38,0,0,0,0,0,0,0,0,-4,-28,-1,2,3
3039,H,33,38,45,56,0,3,L,L,L,D,L,W,L,L,D,L,38,0,0,0,0,0,0,0,0,-12,-18,-3,-3,9

In [24]:
playing_stat.keys()

Index(['FTR', 'HTGS', 'ATGS', 'HTGC', 'ATGC', 'HTP', 'ATP', 'HM1', 'HM2',
       'HM3', 'HM4', 'HM5', 'AM1', 'AM2', 'AM3', 'AM4', 'AM5', 'MW',
       'HTWinStreak3', 'HTWinStreak5', 'HTLossStreak3', 'HTLossStreak5',
       'ATWinStreak3', 'ATWinStreak5', 'ATLossStreak3', 'ATLossStreak5',
       'HTGD', 'ATGD', 'DiffPts', 'DiffFormPts', 'DiffLP'],
      dtype='object')

In [25]:
# Scale DiffPts , DiffFormPts, HTGD, ATGD by Matchweek.
cols = ['HTGD','ATGD','DiffPts','DiffFormPts','HTP','ATP']

In [26]:
playing_stat.MW = playing_stat.MW.astype(float)

for col in cols:
    playing_stat[col] = playing_stat[col] / playing_stat.MW

In [27]:
# playing_stat.HTGS=(playing_stat.HTGS)/
playing_stat.HTGS=playing_stat.HTGS/playing_stat.HTGS.max()

In [28]:
playing_stat.ATGS=playing_stat.ATGS/playing_stat.ATGS.max()
playing_stat.HTGC=playing_stat.HTGC/playing_stat.HTGC.max()
playing_stat.ATGC=playing_stat.ATGC/playing_stat.ATGC.max()
playing_stat

,FTR,HTGS,ATGS,HTGC,ATGC,HTP,ATP,HM1,HM2,HM3,HM4,HM5,AM1,AM2,AM3,AM4,AM5,MW,HTWinStreak3,HTWinStreak5,HTLossStreak3,HTLossStreak5,ATWinStreak3,ATWinStreak5,ATLossStreak3,ATLossStreak5,HTGD,ATGD,DiffPts,DiffFormPts,DiffLP
0,A,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,M,M,M,M,M,M,M,M,M,M,1.0,0,0,0,0,0,0,0,0,0.000000,0.000000,0.000000,0.000000,3
1,D,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,M,M,M,M,M,M,M,M,M,M,1.0,0,0,0,0,0,0,0,0,0.000000,0.000000,0.000000,0.000000,-9
2,D,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,M,M,M,M,M,M,M,M,M,M,1.0,0,0,0,0,0,0,0,0,0.000000,0.000000,0.000000,0.000000,-13
3,H,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,M,M,M,M,M,M,M,M,M,M,1.0,0,0,0,0,0,0,0,0,0.000000,0.000000,0.000000,0.000000,4
4,H,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,M,M,M,M,M,M,M,M,M,M,1.0,0,0,0,0,0,0,0,0,0.000000,0.000000,0.000000,0.000000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3035,H,0.74,0.458333,0.313253,0.531646,0.078947,0.078947,W,W,W,W,D,W,D,W,L,W,38.0,0,0,0,0,0,0,0,0,1.263158,0.052632,0.000000,0.078947,-2
3036,H,0.57,0.427083,0.602410,0.658228,0.000000,0.026316,L,L,W,W,W,D,D,D,D,L,38.0,1,0,0,0,0,0,0,0,0.184211,-0.289474,-0.026316,0.131579,7
3037,A,0.32,0.677083,0.614458,0.278481,0.000000,0.078947,L,D,L,L,W,W,W,W,W,D,38.0,0,0,0,0,0,0,0,0,-0.500000,1.131579,-0.078947,-0.236842,16
3038,H,0.40,0.281250,0.530120,0.696203,0.000000,0.026316,L,L,W,L,D,D,L,L,L,D,38.0,0,0,0,0,0,0,0,0,-0.105263,-0.736842,-0.026316,0.052632,3
3039,H,0.33,0.395833,0.542169,0.708861,0.000000,0.078947,L,L,L,D,L,W,L,L,D,L,38.0,0,0,0,0,0,0,0,0,-0.315789,-0.473684,-0.078947,-0.078947,9

In [29]:
playing_stat=playing_stat.drop(["MW"],axis=1)

In [30]:
playing_stat.shape

(3040, 30)

In [31]:
3040 - 380

2660

In [32]:
# Testing set (2015-16 season)
test = playing_stat[2660:]
test

,FTR,HTGS,ATGS,HTGC,ATGC,HTP,ATP,HM1,HM2,HM3,HM4,HM5,AM1,AM2,AM3,AM4,AM5,HTWinStreak3,HTWinStreak5,HTLossStreak3,HTLossStreak5,ATWinStreak3,ATWinStreak5,ATLossStreak3,ATLossStreak5,HTGD,ATGD,DiffPts,DiffFormPts,DiffLP
2660,H,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,M,M,M,M,M,M,M,M,M,M,0,0,0,0,0,0,0,0,0.000000,0.000000,0.000000,0.000000,-14
2661,H,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,M,M,M,M,M,M,M,M,M,M,0,0,0,0,0,0,0,0,0.000000,0.000000,0.000000,0.000000,-11
2662,A,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,M,M,M,M,M,M,M,M,M,M,0,0,0,0,0,0,0,0,0.000000,0.000000,0.000000,0.000000,-4
2663,H,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,M,M,M,M,M,M,M,M,M,M,0,0,0,0,0,0,0,0,0.000000,0.000000,0.000000,0.000000,0
2664,H,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,M,M,M,M,M,M,M,M,M,M,0,0,0,0,0,0,0,0,0.000000,0.000000,0.000000,0.000000,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3035,H,0.74,0.458333,0.313253,0.531646,0.078947,0.078947,W,W,W,W,D,W,D,W,L,W,0,0,0,0,0,0,0,0,1.263158,0.052632,0.000000,0.078947,-2
3036,H,0.57,0.427083,0.602410,0.658228,0.000000,0.026316,L,L,W,W,W,D,D,D,D,L,1,0,0,0,0,0,0,0,0.184211,-0.289474,-0.026316,0.131579,7
3037,A,0.32,0.677083,0.614458,0.278481,0.000000,0.078947,L,D,L,L,W,W,W,W,W,D,0,0,0,0,0,0,0,0,-0.500000,1.131579,-0.078947,-0.236842,16
3038,H,0.40,0.281250,0.530120,0.696203,0.000000,0.026316,L,L,W,L,D,D,L,L,L,D,0,0,0,0,0,0,0,0,-0.105263,-0.736842,-0.026316,0.052632,3
3039,H,0.33,0.395833,0.542169,0.708861,0.000000,0.078947,L,L,L,D,L,W,L,L,D,L,0,0,0,0,0,0,0,0,-0.315789,-0.473684,-0.078947,-0.078947,9

In [33]:
# Train dataset (season 2008/2009 until 2014/2015)
train=playing_stat[:2660]
train.tail(10)

,FTR,HTGS,ATGS,HTGC,ATGC,HTP,ATP,HM1,HM2,HM3,HM4,HM5,AM1,AM2,AM3,AM4,AM5,HTWinStreak3,HTWinStreak5,HTLossStreak3,HTLossStreak5,ATWinStreak3,ATWinStreak5,ATLossStreak3,ATLossStreak5,HTGD,ATGD,DiffPts,DiffFormPts,DiffLP
2650,H,0.79,0.406250,0.493976,0.531646,0.000000,0.000000,L,D,L,L,W,L,W,L,D,D,0,0,0,0,0,0,0,0,1.000000,-0.078947,0.000000,-0.026316,-14
2651,A,0.52,0.416667,0.457831,0.696203,0.000000,0.078947,L,W,W,W,D,W,D,L,D,D,0,0,0,0,0,0,0,0,0.368421,-0.394737,-0.078947,0.105263,-1
2652,H,0.40,0.385417,0.795181,0.569620,0.000000,0.078947,L,D,W,L,L,W,L,D,L,D,0,0,0,0,0,0,0,0,-0.684211,-0.210526,-0.078947,-0.026316,-3
2653,H,0.38,0.677083,0.963855,0.468354,0.000000,0.078947,L,L,L,W,L,W,W,L,W,W,0,0,0,0,0,0,0,0,-1.105263,0.736842,-0.078947,-0.236842,7
2654,H,0.95,0.385417,0.385542,0.898734,0.078947,0.026316,W,W,L,W,W,D,L,W,D,L,0,0,0,0,0,0,0,0,1.657895,-0.894737,0.052632,0.184211,-12
2655,H,0.59,0.354167,0.590361,0.822785,0.026316,0.078947,D,W,W,D,D,W,D,L,D,D,0,0,0,0,0,0,0,0,0.263158,-0.815789,-0.052632,0.078947,-3
2656,D,0.34,0.635417,0.903614,0.443038,0.026316,0.000000,D,L,L,D,L,L,W,W,D,D,0,0,0,0,0,0,0,0,-1.078947,0.684211,0.026316,-0.157895,14
2657,H,0.82,0.354167,0.337349,0.556962,0.078947,0.078947,W,W,W,D,L,W,D,L,L,D,0,0,0,0,0,0,0,0,1.421053,-0.263158,0.000000,0.131579,-17
2658,D,0.46,0.750000,0.783133,0.556962,0.000000,0.000000,L,W,L,W,D,L,W,D,L,W,0,0,0,0,0,0,0,0,-0.500000,0.736842,0.000000,0.000000,1
2659,H,0.30,0.489583,0.662651,0.683544,0.000000,0.000000,L,D,D,D,L,L,W,W,L,W,0,0,0,0,0,0,0,0,-0.657895,-0.184211,0.000000,-0.157895,3

In [34]:
print(train.shape)
print(test.shape)

(2660, 30)
(380, 30)

## Label Encoding Preprocessing

In [35]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder

In [36]:
ftrLE=LabelEncoder()
train.FTR=ftrLE.fit_transform(train.FTR)
test.FTR=ftrLE.transform(test.FTR)
train.head(10)

,FTR,HTGS,ATGS,HTGC,ATGC,HTP,ATP,HM1,HM2,HM3,HM4,HM5,AM1,AM2,AM3,AM4,AM5,HTWinStreak3,HTWinStreak5,HTLossStreak3,HTLossStreak5,ATWinStreak3,ATWinStreak5,ATLossStreak3,ATLossStreak5,HTGD,ATGD,DiffPts,DiffFormPts,DiffLP
0,0,0.0,0.0,0.0,0.0,0.0,0.0,M,M,M,M,M,M,M,M,M,M,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,3
1,1,0.0,0.0,0.0,0.0,0.0,0.0,M,M,M,M,M,M,M,M,M,M,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,-9
2,1,0.0,0.0,0.0,0.0,0.0,0.0,M,M,M,M,M,M,M,M,M,M,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,-13
3,2,0.0,0.0,0.0,0.0,0.0,0.0,M,M,M,M,M,M,M,M,M,M,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,4
4,2,0.0,0.0,0.0,0.0,0.0,0.0,M,M,M,M,M,M,M,M,M,M,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,1
5,0,0.0,0.0,0.0,0.0,0.0,0.0,M,M,M,M,M,M,M,M,M,M,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,7
6,0,0.0,0.0,0.0,0.0,0.0,0.0,M,M,M,M,M,M,M,M,M,M,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,-9
7,1,0.0,0.0,0.0,0.0,0.0,0.0,M,M,M,M,M,M,M,M,M,M,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,2
8,0,0.0,0.0,0.0,0.0,0.0,0.0,M,M,M,M,M,M,M,M,M,M,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,7
9,0,0.0,0.0,0.0,0.0,0.0,0.0,M,M,M,M,M,M,M,M,M,M,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,16

In [37]:
hmLE=LabelEncoder()
train.HM1=hmLE.fit_transform(train.HM1)
test.HM1=hmLE.transform(test.HM1)
test.head()

,FTR,HTGS,ATGS,HTGC,ATGC,HTP,ATP,HM1,HM2,HM3,HM4,HM5,AM1,AM2,AM3,AM4,AM5,HTWinStreak3,HTWinStreak5,HTLossStreak3,HTLossStreak5,ATWinStreak3,ATWinStreak5,ATLossStreak3,ATLossStreak5,HTGD,ATGD,DiffPts,DiffFormPts,DiffLP
2660,2,0.0,0.0,0.0,0.0,0.0,0.0,2,M,M,M,M,M,M,M,M,M,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,-14
2661,2,0.0,0.0,0.0,0.0,0.0,0.0,2,M,M,M,M,M,M,M,M,M,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,-11
2662,0,0.0,0.0,0.0,0.0,0.0,0.0,2,M,M,M,M,M,M,M,M,M,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,-4
2663,2,0.0,0.0,0.0,0.0,0.0,0.0,2,M,M,M,M,M,M,M,M,M,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0
2664,2,0.0,0.0,0.0,0.0,0.0,0.0,2,M,M,M,M,M,M,M,M,M,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,7

In [38]:
train.HM2=hmLE.fit_transform(train.HM2)
train.HM3=hmLE.fit_transform(train.HM3)
train.HM4=hmLE.fit_transform(train.HM4)
train.HM5=hmLE.fit_transform(train.HM5)
train.AM1=hmLE.fit_transform(train.AM1)
train.AM2=hmLE.fit_transform(train.AM2)
train.AM3=hmLE.fit_transform(train.AM3)
train.AM4=hmLE.fit_transform(train.AM4)
train.AM5=hmLE.fit_transform(train.AM5)

test.HM2=hmLE.fit_transform(test.HM2)
test.HM3=hmLE.fit_transform(test.HM3)
test.HM4=hmLE.fit_transform(test.HM4)
test.HM5=hmLE.fit_transform(test.HM5)
test.AM1=hmLE.fit_transform(test.AM1)
test.AM2=hmLE.fit_transform(test.AM2)
test.AM3=hmLE.fit_transform(test.AM3)
test.AM4=hmLE.fit_transform(test.AM4)
test.AM5=hmLE.fit_transform(test.AM5)

In [39]:
test.head()

,FTR,HTGS,ATGS,HTGC,ATGC,HTP,ATP,HM1,HM2,HM3,HM4,HM5,AM1,AM2,AM3,AM4,AM5,HTWinStreak3,HTWinStreak5,HTLossStreak3,HTLossStreak5,ATWinStreak3,ATWinStreak5,ATLossStreak3,ATLossStreak5,HTGD,ATGD,DiffPts,DiffFormPts,DiffLP
2660,2,0.0,0.0,0.0,0.0,0.0,0.0,2,2,2,2,2,2,2,2,2,2,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,-14
2661,2,0.0,0.0,0.0,0.0,0.0,0.0,2,2,2,2,2,2,2,2,2,2,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,-11
2662,0,0.0,0.0,0.0,0.0,0.0,0.0,2,2,2,2,2,2,2,2,2,2,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,-4
2663,2,0.0,0.0,0.0,0.0,0.0,0.0,2,2,2,2,2,2,2,2,2,2,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0
2664,2,0.0,0.0,0.0,0.0,0.0,0.0,2,2,2,2,2,2,2,2,2,2,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,7

In [40]:
print(train.shape)
print(test.shape)

(2660, 30)
(380, 30)

In [41]:
onehotencoder=OneHotEncoder()
# onehotencoder.fit(train.FTR.reshape(-1,1))
onehotencoder.fit(train.FTR.values.reshape(-1,1))
#reference https://stackoverflow.com/questions/53723928/attributeerror-series-object-has-no-attribute-reshape

OneHotEncoder(categorical_features=None, categories=None, drop=None,
              dtype=<class 'numpy.float64'>, handle_unknown='error',
              n_values=None, sparse=True)

In [42]:
finalTrain=onehotencoder.transform([[each] for each in train.FTR]).toarray()
finalTest=onehotencoder.transform([[each] for each in test.FTR]).toarray()

In [43]:
print(finalTrain.shape)
print(finalTest.shape)

(2660, 3)
(380, 3)

In [44]:
train.loc[:,"final1"]=finalTrain[:,0]
train.loc[:,"final2"]=finalTrain[:,1]
train.head()

,FTR,HTGS,ATGS,HTGC,ATGC,HTP,ATP,HM1,HM2,HM3,HM4,HM5,AM1,AM2,AM3,AM4,AM5,HTWinStreak3,HTWinStreak5,HTLossStreak3,HTLossStreak5,ATWinStreak3,ATWinStreak5,ATLossStreak3,ATLossStreak5,HTGD,ATGD,DiffPts,DiffFormPts,DiffLP,final1,final2
0,0,0.0,0.0,0.0,0.0,0.0,0.0,2,2,2,2,2,2,2,2,2,2,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,3,1.0,0.0
1,1,0.0,0.0,0.0,0.0,0.0,0.0,2,2,2,2,2,2,2,2,2,2,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,-9,0.0,1.0
2,1,0.0,0.0,0.0,0.0,0.0,0.0,2,2,2,2,2,2,2,2,2,2,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,-13,0.0,1.0
3,2,0.0,0.0,0.0,0.0,0.0,0.0,2,2,2,2,2,2,2,2,2,2,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,4,0.0,0.0
4,2,0.0,0.0,0.0,0.0,0.0,0.0,2,2,2,2,2,2,2,2,2,2,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,1,0.0,0.0

In [45]:
test.loc[:,"final1"]=finalTest[:,0]
test.loc[:,"final2"]=finalTest[:,1]
test.head()

,FTR,HTGS,ATGS,HTGC,ATGC,HTP,ATP,HM1,HM2,HM3,HM4,HM5,AM1,AM2,AM3,AM4,AM5,HTWinStreak3,HTWinStreak5,HTLossStreak3,HTLossStreak5,ATWinStreak3,ATWinStreak5,ATLossStreak3,ATLossStreak5,HTGD,ATGD,DiffPts,DiffFormPts,DiffLP,final1,final2
2660,2,0.0,0.0,0.0,0.0,0.0,0.0,2,2,2,2,2,2,2,2,2,2,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,-14,0.0,0.0
2661,2,0.0,0.0,0.0,0.0,0.0,0.0,2,2,2,2,2,2,2,2,2,2,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,-11,0.0,0.0
2662,0,0.0,0.0,0.0,0.0,0.0,0.0,2,2,2,2,2,2,2,2,2,2,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,-4,1.0,0.0
2663,2,0.0,0.0,0.0,0.0,0.0,0.0,2,2,2,2,2,2,2,2,2,2,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0,0.0,0.0
2664,2,0.0,0.0,0.0,0.0,0.0,0.0,2,2,2,2,2,2,2,2,2,2,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,7,0.0,0.0

In [46]:
# train=train.drop(["HM5","AM5"],axis=1)
# test=test.drop(["HM5","AM5"],axis=1)

In [47]:
print(train.shape)
print(test.shape)

(2660, 32)
(380, 32)

In [48]:
train.to_csv("datasets/epl_data_train_onehot.csv",index=None)
test.to_csv("datasets/epl_data_test_onehot.csv",index=None)

## Test Prediction

In [49]:
import pandas as pd
import numpy as np
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import train_test_split

%load_ext autoreload
%autoreload 2

# making all pandas columns visable with display command
pd.set_option('display.max_columns', 500)

from tensorflow.keras.models import Model
from tensorflow.keras.layers import Input, Conv2D, Activation, Flatten, Dense, Dropout, LSTM
from tensorflow.keras.optimizers import Adam

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [50]:
train=pd.read_csv("datasets/epl_data_train_onehot.csv")
test=pd.read_csv("datasets/epl_data_test_onehot.csv")
# print(train.head())
# print(train.shape)

In [51]:
X_train = train.drop(columns = ['FTR'])
y_train = train['FTR']
print(X_train.shape)
print(y_train.shape)

(2660, 31)
(2660,)

In [52]:
X_test = test.drop(columns = ['FTR'])
y_test = test['FTR']
print(X_test.shape)
print(y_test.shape)

(380, 31)
(380,)

In [53]:
columns = X_train.shape[1]
columns

31

In [54]:
# 41-75-3
# We first need to define the sequence of dependencies (the computational graph)
# x = Input(shape=(20,32))
x = Input(shape=(columns,))
# h = Conv2D(32, (7, 7), strides=(2, 2))(x)
# h = Activation('relu')(x)
h = Flatten()(x)
h = Dense(41)(h)
h = Dense(75)(h)
# for i in range(10):
#     h = Dense(75)(h)
h = Dropout(0.3)(h)
p = Activation('softmax')(h)

# Now that we have defined how to find p from x, we can create a 
# model simply by saying what is input and what is output
model = Model(inputs=x, outputs=p)
model.compile(loss='sparse_categorical_crossentropy', optimizer=Adam(lr=0.00001), metrics=['accuracy'])
model.summary()

Model: "model"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_1 (InputLayer)         [(None, 31)]              0
_________________________________________________________________
flatten (Flatten)            (None, 31)                0
_________________________________________________________________
dense (Dense)                (None, 41)                1312
_________________________________________________________________
dense_1 (Dense)              (None, 75)                3150
_________________________________________________________________
dropout (Dropout)            (None, 75)                0
_________________________________________________________________
activation (Activation)      (None, 75)                0
=================================================================
Total params: 4,462
Trainable params: 4,462
Non-trainable params: 0
_________________________________________________________________

In [ ]:
history = model.fit(X_train, y_train, batch_size=32, epochs=200, validation_split=0.04)

Train on 2553 samples, validate on 107 samples
Epoch 1/200
2553/2553 [==============================] - 1s 268us/sample - loss: 5.7400 - accuracy: 0.0012 - val_loss: 5.0891 - val_accuracy: 0.0000e+00
Epoch 2/200
2553/2553 [==============================] - 0s 60us/sample - loss: 5.5722 - accuracy: 0.0027 - val_loss: 4.9906 - val_accuracy: 0.0000e+00
Epoch 3/200
2553/2553 [==============================] - 0s 65us/sample - loss: 5.5176 - accuracy: 0.0039 - val_loss: 4.8967 - val_accuracy: 0.0000e+00
Epoch 4/200
2553/2553 [==============================] - 0s 68us/sample - loss: 5.3738 - accuracy: 0.0047 - val_loss: 4.8020 - val_accuracy: 0.0000e+00
Epoch 5/200
2553/2553 [==============================] - 0s 63us/sample - loss: 5.2867 - accuracy: 0.0071 - val_loss: 4.7098 - val_accuracy: 0.0000e+00
Epoch 6/200
2553/2553 [==============================] - 0s 57us/sample - loss: 5.1637 - accuracy: 0.0094 - val_loss: 4.6195 - val_accuracy: 0.0000e+00
Epoch 7/200
2553/2553 [==============================] - 0s 69us/sample - loss: 5.1115 - accuracy: 0.0118 - val_loss: 4.5312 - val_accuracy: 0.0000e+00
Epoch 8/200
2553/2553 [==============================] - 0s 63us/sample - loss: 4.9768 - accuracy: 0.0188 - val_loss: 4.4427 - val_accuracy: 0.0093
Epoch 9/200
2553/2553 [==============================] - 0s 60us/sample - loss: 4.8864 - accuracy: 0.0231 - val_loss: 4.3568 - val_accuracy: 0.0187
Epoch 10/200
2553/2553 [==============================] - 0s 61us/sample - loss: 4.7968 - accuracy: 0.0294 - val_loss: 4.2735 - val_accuracy: 0.0187
Epoch 11/200
2553/2553 [==============================] - 0s 64us/sample - loss: 4.7187 - accuracy: 0.0396 - val_loss: 4.1908 - val_accuracy: 0.0187
Epoch 12/200
2553/2553 [==============================] - 0s 60us/sample - loss: 4.5968 - accuracy: 0.0509 - val_loss: 4.1093 - val_accuracy: 0.0187
Epoch 13/200
2553/2553 [==============================] - 0s 63us/sample - loss: 4.5668 - accuracy: 0.0591 - val_loss: 4.0318 - val_accuracy: 0.0280
Epoch 14/200
2553/2553 [==============================] - 0s 65us/sample - loss: 4.4610 - accuracy: 0.0768 - val_loss: 3.9549 - val_accuracy: 0.0561
Epoch 15/200
2553/2553 [==============================] - 0s 59us/sample - loss: 4.3757 - accuracy: 0.0873 - val_loss: 3.8796 - val_accuracy: 0.0654
Epoch 16/200
2553/2553 [==============================] - 0s 65us/sample - loss: 4.2739 - accuracy: 0.1046 - val_loss: 3.8066 - val_accuracy: 0.1028
Epoch 17/200
2553/2553 [==============================] - 0s 59us/sample - loss: 4.2477 - accuracy: 0.1120 - val_loss: 3.7358 - val_accuracy: 0.1215
Epoch 18/200
2553/2553 [==============================] - 0s 67us/sample - loss: 4.1841 - accuracy: 0.1344 - val_loss: 3.6676 - val_accuracy: 0.1682
Epoch 19/200
2553/2553 [==============================] - 0s 58us/sample - loss: 4.0721 - accuracy: 0.1532 - val_loss: 3.6016 - val_accuracy: 0.2150
Epoch 20/200
2553/2553 [==============================] - 0s 63us/sample - loss: 3.9993 - accuracy: 0.1716 - val_loss: 3.5360 - val_accuracy: 0.2243
Epoch 21/200
2553/2553 [==============================] - 0s 66us/sample - loss: 3.9457 - accuracy: 0.1853 - val_loss: 3.4727 - val_accuracy: 0.2523
Epoch 22/200
2553/2553 [==============================] - 0s 58us/sample - loss: 3.8542 - accuracy: 0.2013 - val_loss: 3.4111 - val_accuracy: 0.2710
Epoch 23/200
2553/2553 [==============================] - 0s 63us/sample - loss: 3.8486 - accuracy: 0.2123 - val_loss: 3.3529 - val_accuracy: 0.2804
Epoch 24/200
2553/2553 [==============================] - 0s 67us/sample - loss: 3.7661 - accuracy: 0.2237 - val_loss: 3.2968 - val_accuracy: 0.2897
Epoch 25/200
2553/2553 [==============================] - 0s 62us/sample - loss: 3.7738 - accuracy: 0.2244 - val_loss: 3.2415 - val_accuracy: 0.3271
Epoch 26/200
2553/2553 [==============================] - 0s 65us/sample - loss: 3.6752 - accuracy: 0.2491 - val_loss: 3.1892 - val_accuracy: 0.3458
Epoch 27/200
2553/2553 [==============================] - 0s 69us/sample - loss: 3.6132 - accuracy: 0.2589 - val_loss: 3.1376 - val_accuracy: 0.3551
Epoch 28/200
2553/2553 [==============================] - 0s 67us/sample - loss: 3.5305 - accuracy: 0.2777 - val_loss: 3.0866 - val_accuracy: 0.3551
Epoch 29/200
2553/2553 [==============================] - 0s 62us/sample - loss: 3.5615 - accuracy: 0.2707 - val_loss: 3.0393 - val_accuracy: 0.3645
Epoch 30/200
2553/2553 [==============================] - 0s 59us/sample - loss: 3.5084 - accuracy: 0.2789 - val_loss: 2.9920 - val_accuracy: 0.3832
Epoch 31/200
2553/2553 [==============================] - 0s 68us/sample - loss: 3.4477 - accuracy: 0.2859 - val_loss: 2.9460 - val_accuracy: 0.4019
Epoch 32/200
2553/2553 [==============================] - 0s 64us/sample - loss: 3.3783 - accuracy: 0.3020 - val_loss: 2.9005 - val_accuracy: 0.4299
Epoch 33/200
2553/2553 [==============================] - 0s 60us/sample - loss: 3.3287 - accuracy: 0.3118 - val_loss: 2.8553 - val_accuracy: 0.4393
Epoch 34/200
2553/2553 [==============================] - 0s 71us/sample - loss: 3.3014 - accuracy: 0.3157 - val_loss: 2.8115 - val_accuracy: 0.4393
Epoch 35/200
2553/2553 [==============================] - 0s 65us/sample - loss: 3.2300 - accuracy: 0.3255 - val_loss: 2.7664 - val_accuracy: 0.4393
Epoch 36/200
2553/2553 [==============================] - 0s 58us/sample - loss: 3.2362 - accuracy: 0.3208 - val_loss: 2.7251 - val_accuracy: 0.4486
Epoch 37/200
2553/2553 [==============================] - 0s 61us/sample - loss: 3.1875 - accuracy: 0.3216 - val_loss: 2.6843 - val_accuracy: 0.4766
Epoch 38/200
2553/2553 [==============================] - 0s 64us/sample - loss: 3.1087 - accuracy: 0.3408 - val_loss: 2.6450 - val_accuracy: 0.4860
Epoch 39/200
2553/2553 [==============================] - 0s 75us/sample - loss: 3.0606 - accuracy: 0.3514 - val_loss: 2.6050 - val_accuracy: 0.4860
Epoch 40/200
2553/2553 [==============================] - 0s 96us/sample - loss: 3.0475 - accuracy: 0.3525 - val_loss: 2.5678 - val_accuracy: 0.4860
Epoch 41/200
2553/2553 [==============================] - 0s 82us/sample - loss: 2.9972 - accuracy: 0.3517 - val_loss: 2.5303 - val_accuracy: 0.4860
Epoch 42/200
2553/2553 [==============================] - 0s 80us/sample - loss: 2.9979 - accuracy: 0.3498 - val_loss: 2.4943 - val_accuracy: 0.4860
Epoch 43/200
2553/2553 [==============================] - 0s 94us/sample - loss: 2.9161 - accuracy: 0.3666 - val_loss: 2.4568 - val_accuracy: 0.4860
Epoch 44/200
2553/2553 [==============================] - 0s 85us/sample - loss: 2.9309 - accuracy: 0.3635 - val_loss: 2.4225 - val_accuracy: 0.4860
Epoch 45/200
2553/2553 [==============================] - 0s 67us/sample - loss: 2.8272 - accuracy: 0.3929 - val_loss: 2.3872 - val_accuracy: 0.4953
Epoch 46/200
2553/2553 [==============================] - 0s 63us/sample - loss: 2.8069 - accuracy: 0.3815 - val_loss: 2.3521 - val_accuracy: 0.4953
Epoch 47/200
2553/2553 [==============================] - 0s 60us/sample - loss: 2.7870 - accuracy: 0.3874 - val_loss: 2.3190 - val_accuracy: 0.4953
Epoch 48/200
2553/2553 [==============================] - 0s 62us/sample - loss: 2.7735 - accuracy: 0.3917 - val_loss: 2.2869 - val_accuracy: 0.4953
Epoch 49/200
2553/2553 [==============================] - 0s 66us/sample - loss: 2.7844 - accuracy: 0.3866 - val_loss: 2.2557 - val_accuracy: 0.5047
Epoch 50/200
2553/2553 [==============================] - 0s 64us/sample - loss: 2.7306 - accuracy: 0.3909 - val_loss: 2.2252 - val_accuracy: 0.5047
Epoch 51/200
2553/2553 [==============================] - 0s 68us/sample - loss: 2.6820 - accuracy: 0.4019 - val_loss: 2.1945 - val_accuracy: 0.4953
Epoch 52/200
2553/2553 [==============================] - 0s 70us/sample - loss: 2.6742 - accuracy: 0.4058 - val_loss: 2.1650 - val_accuracy: 0.5140
Epoch 53/200
2553/2553 [==============================] - 0s 61us/sample - loss: 2.6590 - accuracy: 0.4089 - val_loss: 2.1358 - val_accuracy: 0.5140
Epoch 54/200
2553/2553 [==============================] - 0s 61us/sample - loss: 2.5823 - accuracy: 0.4093 - val_loss: 2.1059 - val_accuracy: 0.5140
Epoch 55/200

2553/2553 [==============================] - 0s 65us/sample - loss: 2.5836 - accuracy: 0.4109 - val_loss: 2.0788 - val_accuracy: 0.5234
Epoch 56/200
2553/2553 [==============================] - 0s 61us/sample - loss: 2.5617 - accuracy: 0.4172 - val_loss: 2.0505 - val_accuracy: 0.5234
Epoch 57/200
2553/2553 [==============================] - 0s 57us/sample - loss: 2.5470 - accuracy: 0.4132 - val_loss: 2.0225 - val_accuracy: 0.5234
Epoch 58/200
2553/2553 [==============================] - 0s 64us/sample - loss: 2.5023 - accuracy: 0.4277 - val_loss: 1.9972 - val_accuracy: 0.5327
Epoch 59/200
2553/2553 [==============================] - 0s 64us/sample - loss: 2.5199 - accuracy: 0.4093 - val_loss: 1.9717 - val_accuracy: 0.5327
Epoch 60/200
2553/2553 [==============================] - 0s 62us/sample - loss: 2.4689 - accuracy: 0.4281 - val_loss: 1.9454 - val_accuracy: 0.5327
Epoch 61/200
2553/2553 [==============================] - 0s 65us/sample - loss: 2.4012 - accuracy: 0.4313 - val_loss: 1.9199 - val_accuracy: 0.5421
Epoch 62/200
2553/2553 [==============================] - 0s 70us/sample - loss: 2.4576 - accuracy: 0.4234 - val_loss: 1.8958 - val_accuracy: 0.5421
Epoch 63/200
2553/2553 [==============================] - 0s 69us/sample - loss: 2.4241 - accuracy: 0.4262 - val_loss: 1.8732 - val_accuracy: 0.5421
Epoch 64/200
2553/2553 [==============================] - 0s 69us/sample - loss: 2.4283 - accuracy: 0.4215 - val_loss: 1.8512 - val_accuracy: 0.5607
Epoch 65/200
2553/2553 [==============================] - 0s 69us/sample - loss: 2.3679 - accuracy: 0.4320 - val_loss: 1.8292 - val_accuracy: 0.5607
Epoch 66/200
2553/2553 [==============================] - 0s 65us/sample - loss: 2.4045 - accuracy: 0.4332 - val_loss: 1.8078 - val_accuracy: 0.5607
Epoch 67/200
2553/2553 [==============================] - 0s 60us/sample - loss: 2.3808 - accuracy: 0.4336 - val_loss: 1.7860 - val_accuracy: 0.5701
Epoch 68/200
2553/2553 [==============================] - 0s 67us/sample - loss: 2.2661 - accuracy: 0.4473 - val_loss: 1.7641 - val_accuracy: 0.5794
Epoch 69/200
2553/2553 [==============================] - 0s 65us/sample - loss: 2.3088 - accuracy: 0.4301 - val_loss: 1.7435 - val_accuracy: 0.5794
Epoch 70/200
2553/2553 [==============================] - 0s 61us/sample - loss: 2.2886 - accuracy: 0.4426 - val_loss: 1.7224 - val_accuracy: 0.5794
Epoch 71/200
2553/2553 [==============================] - 0s 66us/sample - loss: 2.2831 - accuracy: 0.4395 - val_loss: 1.7025 - val_accuracy: 0.5794
Epoch 72/200
2553/2553 [==============================] - 0s 65us/sample - loss: 2.3147 - accuracy: 0.4269 - val_loss: 1.6852 - val_accuracy: 0.5794
Epoch 73/200
2553/2553 [==============================] - 0s 63us/sample - loss: 2.2126 - accuracy: 0.4606 - val_loss: 1.6664 - val_accuracy: 0.5794
Epoch 74/200
2553/2553 [==============================] - 0s 63us/sample - loss: 2.2698 - accuracy: 0.4485 - val_loss: 1.6489 - val_accuracy: 0.5888
Epoch 75/200
2553/2553 [==============================] - 0s 68us/sample - loss: 2.1845 - accuracy: 0.4555 - val_loss: 1.6308 - val_accuracy: 0.5888
Epoch 76/200
2553/2553 [==============================] - 0s 68us/sample - loss: 2.2529 - accuracy: 0.4426 - val_loss: 1.6147 - val_accuracy: 0.5981
Epoch 77/200
2553/2553 [==============================] - 0s 52us/sample - loss: 2.2063 - accuracy: 0.4481 - val_loss: 1.5986 - val_accuracy: 0.5981
Epoch 78/200
2553/2553 [==============================] - 0s 54us/sample - loss: 2.1347 - accuracy: 0.4622 - val_loss: 1.5802 - val_accuracy: 0.5888
Epoch 79/200
2553/2553 [==============================] - 0s 64us/sample - loss: 2.1693 - accuracy: 0.4477 - val_loss: 1.5655 - val_accuracy: 0.6075
Epoch 80/200
2553/2553 [==============================] - 0s 63us/sample - loss: 2.1676 - accuracy: 0.4497 - val_loss: 1.5502 - val_accuracy: 0.6075
Epoch 81/200
2553/2553 [==============================] - 0s 63us/sample - loss: 2.1501 - accuracy: 0.4575 - val_loss: 1.5358 - val_accuracy: 0.6075
Epoch 82/200
2553/2553 [==============================] - 0s 71us/sample - loss: 2.1940 - accuracy: 0.4454 - val_loss: 1.5214 - val_accuracy: 0.6075
Epoch 83/200
2553/2553 [==============================] - 0s 64us/sample - loss: 2.1429 - accuracy: 0.4520 - val_loss: 1.5077 - val_accuracy: 0.6168
Epoch 84/200
2553/2553 [==============================] - 0s 62us/sample - loss: 2.1217 - accuracy: 0.4579 - val_loss: 1.4929 - val_accuracy: 0.6168
Epoch 85/200
2553/2553 [==============================] - 0s 70us/sample - loss: 2.1142 - accuracy: 0.4614 - val_loss: 1.4784 - val_accuracy: 0.6075
Epoch 86/200
2553/2553 [==============================] - 0s 61us/sample - loss: 2.1019 - accuracy: 0.4696 - val_loss: 1.4638 - val_accuracy: 0.6075
Epoch 87/200
2553/2553 [==============================] - 0s 64us/sample - loss: 2.0758 - accuracy: 0.4646 - val_loss: 1.4499 - val_accuracy: 0.6075
Epoch 88/200
2553/2553 [==============================] - 0s 71us/sample - loss: 2.0662 - accuracy: 0.4747 - val_loss: 1.4371 - val_accuracy: 0.6168
Epoch 89/200
2553/2553 [==============================] - 0s 70us/sample - loss: 2.0562 - accuracy: 0.4669 - val_loss: 1.4239 - val_accuracy: 0.6262
Epoch 90/200
2553/2553 [==============================] - 0s 64us/sample - loss: 2.1045 - accuracy: 0.4591 - val_loss: 1.4125 - val_accuracy: 0.6262
Epoch 91/200
2553/2553 [==============================] - 0s 68us/sample - loss: 2.0455 - accuracy: 0.4704 - val_loss: 1.4023 - val_accuracy: 0.6262
Epoch 92/200
2553/2553 [==============================] - 0s 58us/sample - loss: 2.0391 - accuracy: 0.4783 - val_loss: 1.3909 - val_accuracy: 0.6262
Epoch 93/200
2553/2553 [==============================] - 0s 65us/sample - loss: 2.0410 - accuracy: 0.4834 - val_loss: 1.3785 - val_accuracy: 0.6355
Epoch 94/200
2553/2553 [==============================] - 0s 61us/sample - loss: 2.0480 - accuracy: 0.4853 - val_loss: 1.3671 - val_accuracy: 0.6355
Epoch 95/200
2553/2553 [==============================] - 0s 71us/sample - loss: 2.0572 - accuracy: 0.4700 - val_loss: 1.3572 - val_accuracy: 0.6355
Epoch 96/200
2553/2553 [==============================] - 0s 61us/sample - loss: 2.0305 - accuracy: 0.4830 - val_loss: 1.3460 - val_accuracy: 0.6355
Epoch 97/200
2553/2553 [==============================] - 0s 64us/sample - loss: 2.0159 - accuracy: 0.4806 - val_loss: 1.3343 - val_accuracy: 0.6636
Epoch 98/200
2553/2553 [==============================] - 0s 65us/sample - loss: 2.0496 - accuracy: 0.4830 - val_loss: 1.3251 - val_accuracy: 0.6636
Epoch 99/200
2553/2553 [==============================] - 0s 63us/sample - loss: 2.0197 - accuracy: 0.4802 - val_loss: 1.3155 - val_accuracy: 0.6729
Epoch 100/200
2553/2553 [==============================] - 0s 60us/sample - loss: 1.9684 - accuracy: 0.4931 - val_loss: 1.3058 - val_accuracy: 0.6822
Epoch 101/200
2553/2553 [==============================] - 0s 71us/sample - loss: 2.0480 - accuracy: 0.4736 - val_loss: 1.2962 - val_accuracy: 0.6916
Epoch 102/200
2553/2553 [==============================] - 0s 65us/sample - loss: 2.0124 - accuracy: 0.4873 - val_loss: 1.2869 - val_accuracy: 0.6916
Epoch 103/200
2553/2553 [==============================] - 0s 63us/sample - loss: 2.0065 - accuracy: 0.4881 - val_loss: 1.2771 - val_accuracy: 0.6916
Epoch 104/200
2553/2553 [==============================] - 0s 64us/sample - loss: 1.9598 - accuracy: 0.4892 - val_loss: 1.2671 - val_accuracy: 0.6916
Epoch 105/200
2553/2553 [==============================] - 0s 64us/sample - loss: 2.0111 - accuracy: 0.4908 - val_loss: 1.2584 - val_accuracy: 0.6916
Epoch 106/200
2553/2553 [==============================] - 0s 61us/sample - loss: 1.9631 - accuracy: 0.4935 - val_loss: 1.2483 - val_accuracy: 0.7009
Epoch 107/200
2553/2553 [==============================] - 0s 65us/sample - loss: 1.9490 - accuracy: 0.5025 - val_loss: 1.2379 - val_accuracy: 0.7196
Epoch 108/200
2553/2553 [==============================] - 0s 68us/sample - loss: 1.9879 - accuracy: 0.4924 - val_loss: 1.2314 - val_accuracy: 0.7103
Epoch 109/200
2553/2553 [==============================] - 0s 62us/sample - loss: 1.9810 - accuracy: 0.4908 - val_loss: 1.2251 - val_accuracy: 0.7103
Epoch 110/200

2553/2553 [==============================] - 0s 62us/sample - loss: 1.9671 - accuracy: 0.5057 - val_loss: 1.2174 - val_accuracy: 0.7196
Epoch 111/200
2553/2553 [==============================] - 0s 66us/sample - loss: 1.9777 - accuracy: 0.5061 - val_loss: 1.2096 - val_accuracy: 0.7196
Epoch 112/200
2553/2553 [==============================] - 0s 64us/sample - loss: 1.9736 - accuracy: 0.4998 - val_loss: 1.2012 - val_accuracy: 0.7290
Epoch 113/200
2553/2553 [==============================] - 0s 61us/sample - loss: 1.9912 - accuracy: 0.5025 - val_loss: 1.1929 - val_accuracy: 0.7290
Epoch 114/200
2553/2553 [==============================] - 0s 65us/sample - loss: 1.9602 - accuracy: 0.4939 - val_loss: 1.1853 - val_accuracy: 0.7290
Epoch 115/200
2553/2553 [==============================] - 0s 67us/sample - loss: 1.9244 - accuracy: 0.5080 - val_loss: 1.1771 - val_accuracy: 0.7290
Epoch 116/200
2553/2553 [==============================] - 0s 62us/sample - loss: 1.9488 - accuracy: 0.5022 - val_loss: 1.1699 - val_accuracy: 0.7290
Epoch 117/200
2553/2553 [==============================] - 0s 65us/sample - loss: 1.9201 - accuracy: 0.5100 - val_loss: 1.1628 - val_accuracy: 0.7383
Epoch 118/200
2553/2553 [==============================] - 0s 64us/sample - loss: 1.9446 - accuracy: 0.5104 - val_loss: 1.1557 - val_accuracy: 0.7290
Epoch 119/200
2553/2553 [==============================] - 0s 63us/sample - loss: 1.9470 - accuracy: 0.5127 - val_loss: 1.1484 - val_accuracy: 0.7383
Epoch 120/200
2553/2553 [==============================] - 0s 65us/sample - loss: 1.8565 - accuracy: 0.5182 - val_loss: 1.1415 - val_accuracy: 0.7383
Epoch 121/200
2553/2553 [==============================] - 0s 68us/sample - loss: 1.8494 - accuracy: 0.5351 - val_loss: 1.1327 - val_accuracy: 0.7477
Epoch 122/200
2553/2553 [==============================] - 0s 63us/sample - loss: 1.8366 - accuracy: 0.5304 - val_loss: 1.1247 - val_accuracy: 0.7477
Epoch 123/200
2553/2553 [==============================] - 0s 64us/sample - loss: 1.8726 - accuracy: 0.5280 - val_loss: 1.1160 - val_accuracy: 0.7477
Epoch 124/200
2553/2553 [==============================] - 0s 67us/sample - loss: 1.9032 - accuracy: 0.5292 - val_loss: 1.1090 - val_accuracy: 0.7570
Epoch 125/200
2553/2553 [==============================] - 0s 64us/sample - loss: 1.8703 - accuracy: 0.5347 - val_loss: 1.1011 - val_accuracy: 0.7477
Epoch 126/200
2553/2553 [==============================] - 0s 65us/sample - loss: 1.8573 - accuracy: 0.5304 - val_loss: 1.0944 - val_accuracy: 0.7570
Epoch 127/200
2553/2553 [==============================] - 0s 64us/sample - loss: 1.8877 - accuracy: 0.5268 - val_loss: 1.0871 - val_accuracy: 0.7570
Epoch 128/200
2553/2553 [==============================] - 0s 65us/sample - loss: 1.8827 - accuracy: 0.5319 - val_loss: 1.0810 - val_accuracy: 0.7757
Epoch 129/200
2553/2553 [==============================] - 0s 64us/sample - loss: 1.8397 - accuracy: 0.5378 - val_loss: 1.0737 - val_accuracy: 0.7757
Epoch 130/200
2553/2553 [==============================] - 0s 66us/sample - loss: 1.8863 - accuracy: 0.5257 - val_loss: 1.0669 - val_accuracy: 0.7757
Epoch 131/200
2553/2553 [==============================] - 0s 61us/sample - loss: 1.8238 - accuracy: 0.5476 - val_loss: 1.0599 - val_accuracy: 0.7757
Epoch 132/200
2553/2553 [==============================] - 0s 61us/sample - loss: 1.8126 - accuracy: 0.5566 - val_loss: 1.0532 - val_accuracy: 0.7850
Epoch 133/200
2553/2553 [==============================] - 0s 64us/sample - loss: 1.8950 - accuracy: 0.5319 - val_loss: 1.0477 - val_accuracy: 0.7757
Epoch 134/200
2553/2553 [==============================] - 0s 65us/sample - loss: 1.8537 - accuracy: 0.5339 - val_loss: 1.0425 - val_accuracy: 0.7757
Epoch 135/200
2553/2553 [==============================] - 0s 61us/sample - loss: 1.8683 - accuracy: 0.5304 - val_loss: 1.0364 - val_accuracy: 0.7850
Epoch 136/200
2553/2553 [==============================] - 0s 61us/sample - loss: 1.8699 - accuracy: 0.5374 - val_loss: 1.0304 - val_accuracy: 0.7850
Epoch 137/200
2553/2553 [==============================] - 0s 68us/sample - loss: 1.8289 - accuracy: 0.5484 - val_loss: 1.0239 - val_accuracy: 0.7850
Epoch 138/200
2553/2553 [==============================] - 0s 61us/sample - loss: 1.8617 - accuracy: 0.5405 - val_loss: 1.0186 - val_accuracy: 0.7850
Epoch 139/200
2553/2553 [==============================] - 0s 65us/sample - loss: 1.8260 - accuracy: 0.5417 - val_loss: 1.0129 - val_accuracy: 0.7850
Epoch 140/200
2553/2553 [==============================] - 0s 58us/sample - loss: 1.8918 - accuracy: 0.5401 - val_loss: 1.0088 - val_accuracy: 0.7850
Epoch 141/200
2553/2553 [==============================] - 0s 64us/sample - loss: 1.8839 - accuracy: 0.5386 - val_loss: 1.0031 - val_accuracy: 0.7850
Epoch 142/200
2553/2553 [==============================] - 0s 61us/sample - loss: 1.7916 - accuracy: 0.5609 - val_loss: 0.9974 - val_accuracy: 0.7944
Epoch 143/200
2553/2553 [==============================] - 0s 68us/sample - loss: 1.7930 - accuracy: 0.5511 - val_loss: 0.9904 - val_accuracy: 0.7944
Epoch 144/200
2553/2553 [==============================] - 0s 67us/sample - loss: 1.7766 - accuracy: 0.5629 - val_loss: 0.9834 - val_accuracy: 0.7944
Epoch 145/200
2553/2553 [==============================] - 0s 66us/sample - loss: 1.7772 - accuracy: 0.5629 - val_loss: 0.9781 - val_accuracy: 0.8037
Epoch 146/200
2553/2553 [==============================] - 0s 61us/sample - loss: 1.8301 - accuracy: 0.5515 - val_loss: 0.9727 - val_accuracy: 0.8037
Epoch 147/200
2553/2553 [==============================] - 0s 61us/sample - loss: 1.8421 - accuracy: 0.5456 - val_loss: 0.9670 - val_accuracy: 0.8037
Epoch 148/200
2553/2553 [==============================] - 0s 62us/sample - loss: 1.7617 - accuracy: 0.5578 - val_loss: 0.9616 - val_accuracy: 0.8037
Epoch 149/200
  32/2553 [..............................] - ETA: 0s - loss: 1.6971 - accuracy: 0.5938

In [ ]:
import matplotlib.pyplot as plt
plt.plot(history.history['loss'], label='train')
plt.plot(history.history['val_loss'], label='validation')
plt.legend()
plt.show()

In [ ]:
plt.plot(history.history['accuracy'], label='train')
plt.plot(history.history['val_accuracy'], label='validation')
plt.legend()
plt.show()

In [ ]:
test_predictions = np.argmax(model.predict(X_test), axis=1)
accuracy = (test_predictions == y_test.values).sum() / y_test.values.shape[0]
print("Test set accuracy:", accuracy)

In [ ]:
from sklearn.metrics import confusion_matrix
print("Y train")
print("Unique train labels:", np.unique(y_train.values))
print("Away win count:", (y_train==0).sum())
print("Draw count:", (y_train==1).sum())
print("Away win count:", (y_train==2).sum())

In [ ]:
print("Train Prediction")
train_predictions = np.argmax(model.predict(X_train), axis=1)
print("Unique train labels:", np.unique(train_predictions))
print("Away win count:", (y_train==0).sum())
print("Draw count:", (y_train==1).sum())
print("Home win count:", (y_train==2).sum())

In [ ]:
# Train
df_conf_matrix = pd.DataFrame(confusion_matrix(y_train, train_predictions, labels=[0, 1, 2]), 
             index=['true home', 'true draw', 'true away'], columns=['pred home', 'pred draw', 'pred away'])
print("Train Data")
df_conf_matrix

In [ ]:
# Test
df_conf_matrix = pd.DataFrame(confusion_matrix(y_test, test_predictions, labels=[0, 1, 2]), 
             index=['true home', 'true draw', 'true away'], columns=['pred home', 'pred draw', 'pred away'])
print("Test Data")
df_conf_matrix

## Stupid model

In [ ]:
def pred_on_gs(X_test):
    my_pred_h =  2*(X_test['HTGS'] > X_test['ATGS'])
    my_pred_a =  0*(X_test['HTGS'] < X_test['ATGS'])
    my_pred_d =  1*(X_test['HTGS'] == X_test['ATGS'])
    my_pred = my_pred_h + my_pred_a + my_pred_d
    return my_pred

# print(X_test.loc[10,:])
# print(list(pred_on_gs(X_test)))
# print(y_test)
# print(ftrLE.inverse_transform(pred_on_gs(X_test)))
test_predictions = list(pred_on_gs(X_test))
accuracy = (test_predictions == y_test.values).sum() / y_test.values.shape[0]
print("Test set accuracy:", accuracy)