### [Reference](https://github.com/krishnakartik1/LSTM-footballMatchWinner)

In [108]:
import pandas as pd
import numpy as np
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import train_test_split

%load_ext autoreload
%autoreload 2

# making all pandas columns visable with display command
pd.set_option('display.max_columns', 500)

import warnings
warnings.filterwarnings('ignore')

loc = "/datasets"

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [109]:
df = pd.read_csv('datasets/EPL_sort.csv', index_col=0)
df['date'] = pd.to_datetime(df['date'], format='%Y-%m-%d', errors='ignore')
# df = df[df['season'] == '2015/2016
df = df.rename(columns={'date':'Date', 'home_team_api_id':'HomeTeam','away_team_api_id':'AwayTeam',
                        'home_team_goal':'FTHG','away_team_goal':'FTAG','Result':'FTR'})
df

,id,season,stage,Date,match_api_id,HomeTeam,AwayTeam,FTHG,FTAG,B365H,B365D,B365A,home_y_card,home_r_card,away_y_card,away_r_card,home_foulcommit,away_foulcommit,home_shoton,away_shoton,home_shotoff,away_shotoff,home_cross,away_cross,home_corner,away_corner,home_possession,away_possession,HTP,ATP,FTR
0,1730,2008/2009,1,2008-08-16,489043,Arsenal,West Bromwich Albion,1,0,1.20,6.50,15.00,0,0,0,0,0,20,0,14,0,16,0,28,0,12,66,34,0,0,H
1,1736,2008/2009,1,2008-08-16,489049,Bolton Wanderers,Stoke City,3,1,1.83,3.50,4.50,0,0,3,0,0,29,0,6,0,13,0,51,0,7,47,53,0,0,H
2,1734,2008/2009,1,2008-08-16,489047,Everton,Blackburn Rovers,2,3,2.00,3.30,4.00,0,0,4,0,0,22,0,10,0,15,0,35,0,7,51,49,0,0,A
3,1737,2008/2009,1,2008-08-16,489050,Hull City,Fulham,2,1,2.60,3.20,2.80,0,0,3,0,0,19,0,9,0,11,0,30,0,11,53,47,0,0,H
4,1735,2008/2009,1,2008-08-16,489048,Middlesbrough,Tottenham Hotspur,2,1,3.20,3.40,2.25,0,0,3,0,0,22,0,9,0,10,0,52,0,16,53,47,0,0,H
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3035,4705,2015/2016,38,2016-05-15,1987603,Stoke City,West Ham United,2,1,3.50,3.60,2.15,0,0,4,0,0,20,0,13,0,9,0,31,0,14,45,55,48,62,H
3036,4706,2015/2016,38,2016-05-15,1987604,Swansea City,Manchester City,1,1,6.00,4.75,1.53,0,0,4,0,0,24,0,6,0,14,0,29,0,8,50,50,46,65,D
3037,4707,2015/2016,38,2016-05-15,1987605,Watford,Sunderland,2,2,2.05,3.75,3.70,0,0,1,0,0,19,0,8,0,12,0,21,0,11,49,51,44,38,D
3038,4708,2015/2016,38,2016-05-15,1987606,West Bromwich Albion,Liverpool,1,1,2.40,3.60,3.00,0,0,4,0,0,25,0,8,0,11,0,26,0,12,33,67,42,59,D
3039,4702,2015/2016,38,2016-05-17,1987600,Manchester United,Bournemouth,3,1,1.67,4.20,5.25,0,0,1,0,0,17,0,10,0,6,0,21,0,8,68,32,63,42,H

In [ ]:
df[]

In [110]:
# raw_data_1=pd.read_csv(loc+"2017-18.csv")
raw_data_1516 = df[df['season'] == '2015/2016']
raw_data_1415 = df[df['season'] == '2014/2015']
raw_data_1314 = df[df['season'] == '2013/2014']
raw_data_1213 = df[df['season'] == '2012/2013']
raw_data_1112 = df[df['season'] == '2011/2012']
raw_data_1011 = df[df['season'] == '2010/2011']
raw_data_0910 = df[df['season'] == '2009/2010']
raw_data_0809 = df[df['season'] == '2008/2009']

In [111]:
# print(len(raw_data_1516.columns))
# print(len(raw_data_1415.columns))
# print(len(raw_data_1314.columns))
# print(len(raw_data_1213.columns))
# print(len(raw_data_1112.columns))
# print(len(raw_data_1011.columns))
# print(len(raw_data_0910.columns))
# print(len(raw_data_0809.columns))

In [97]:
# print(raw_data_1516.shape)
# print(raw_data_1415.shape)
# print(raw_data_1314.shape)
# print(raw_data_1213.shape)
# print(raw_data_1112.shape)
# print(raw_data_1011.shape)
# print(raw_data_0910.shape)
# print(raw_data_0809.shape)

In [112]:
columns_req = ['Date','HomeTeam','AwayTeam','FTHG','FTAG','FTR']

In [115]:
playing_statistics_1516=raw_data_1516[columns_req]
playing_statistics_1415=raw_data_1415[columns_req]
playing_statistics_1314=raw_data_1314[columns_req]
playing_statistics_1213=raw_data_1213[columns_req]
playing_statistics_1112=raw_data_1112[columns_req]
playing_statistics_1011=raw_data_1011[columns_req]
playing_statistics_0910=raw_data_0910[columns_req]
playing_statistics_0809=raw_data_0809[columns_req]
playing_statistics_1516.head()

           Date           HomeTeam           AwayTeam  FTHG  FTAG FTR
2660 2015-08-08        Bournemouth        Aston Villa     0     1   A
2661 2015-08-08            Chelsea       Swansea City     2     2   D
2662 2015-08-08            Everton            Watford     2     2   D
2663 2015-08-08     Leicester City         Sunderland     4     2   H
2664 2015-08-08  Manchester United  Tottenham Hotspur     1     0   H

In [119]:
def get_goals_scored(playing_stat):
    print("get_goals_scored")
    # Create a dictionary with team names as keys
    teams = {}
    for i in playing_stat.groupby('HomeTeam').mean().T.columns:
#         print("check {} \n".format(i))
        teams[i] = []
    
    # the value corresponding to keys is a list containing the match location.
    for i in range(len(playing_stat)):
        HTGS = playing_stat.iloc[i]['FTHG']
        ATGS = playing_stat.iloc[i]['FTAG']
        teams[playing_stat.iloc[i].HomeTeam].append(HTGS)
        teams[playing_stat.iloc[i].AwayTeam].append(ATGS)
        
#     for i in teams.keys():
#         print("check",len(teams[i]))
#         print(teams[i])
#         if len(teams[i])==31:
#             teams[i]=teams[i][:-1]
#             print("check",len(teams[i]))
#     print("teams",len(teams["Arsenal"]))
#     print(teams)
    # Create a dataframe for goals scored where rows are teams and cols are matchweek.
    GoalsScored = pd.DataFrame(data=teams, index = [i for i in range(1,39)]).T
    GoalsScored[0] = 0
    # Aggregate to get uptil that point
    for i in range(2,39):
        GoalsScored[i] = GoalsScored[i] + GoalsScored[i-1]
    return GoalsScored



# Gets the goals conceded agg arranged by teams and matchweek
def get_goals_conceded(playing_stat):
    # Create a dictionary with team names as keys
    teams = {}
    for i in playing_stat.groupby('HomeTeam').mean().T.columns:
#         print("check {} \n".format(i))
        teams[i] = []
    
    # the value corresponding to keys is a list containing the match location.
    for i in range(len(playing_stat)):
        ATGC = playing_stat.iloc[i]['FTHG']
        HTGC = playing_stat.iloc[i]['FTAG']
        teams[playing_stat.iloc[i].HomeTeam].append(HTGC)
        teams[playing_stat.iloc[i].AwayTeam].append(ATGC)
#     print(len(teams.keys))
#     for i in teams.keys():
#         print("check",len(teams[i]))
#         print(teams[i])
#         if len(teams[i])==31:
#             teams[i]=teams[i][:-1]
#             print("check",len(teams[i]))
#     print("teams",len(teams["Arsenal"]))
#     print(teams)
    
    # Create a dataframe for goals scored where rows are teams and cols are matchweek.
    GoalsConceded = pd.DataFrame(data=teams, index = [i for i in range(1,39)]).T
    GoalsConceded[0] = 0
    # Aggregate to get uptil that point
    for i in range(2,len(teams["Arsenal"])+1):
        GoalsConceded[i] = GoalsConceded[i] + GoalsConceded[i-1]
    return GoalsConceded

def get_gss(playing_stat):
    GC = get_goals_conceded(playing_stat)
    GS = get_goals_scored(playing_stat)
   
    j = 0
    HTGS = []
    ATGS = []
    HTGC = []
    ATGC = []

    for i in range(380):
        ht = playing_stat.iloc[i].HomeTeam
        at = playing_stat.iloc[i].AwayTeam
        HTGS.append(GS.loc[ht][j])
        ATGS.append(GS.loc[at][j])
        HTGC.append(GC.loc[ht][j])
        ATGC.append(GC.loc[at][j])
        
        if ((i + 1)% 10) == 0:
            j = j + 1
    
#     print("check line 87")
#     print(playing_stat.shape,len(HTGS))
    
    playing_stat['HTGS'] = HTGS
    playing_stat['ATGS'] = ATGS
    playing_stat['HTGC'] = HTGC
    playing_stat['ATGC'] = ATGC
    
    return playing_stat

# Apply to each dataset
playing_statistics_1516=get_gss(playing_statistics_1516)
playing_statistics_1415=get_gss(playing_statistics_1415)
playing_statistics_1314=get_gss(playing_statistics_1314)
playing_statistics_1213=get_gss(playing_statistics_1213)
playing_statistics_1112=get_gss(playing_statistics_1112)
playing_statistics_1011=get_gss(playing_statistics_1011)
playing_statistics_0910=get_gss(playing_statistics_0910)
playing_statistics_0809=get_gss(playing_statistics_0809)

get_goals_scored
get_goals_scored
get_goals_scored
get_goals_scored
get_goals_scored
get_goals_scored
get_goals_scored
get_goals_scored

In [121]:
playing_statistics_1516.tail()

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTGS,ATGS,HTGC,ATGC
3035,2016-05-15,Stoke City,West Ham United,2,1,H,39,64,54,49
3036,2016-05-15,Swansea City,Manchester City,1,1,D,41,70,51,40
3037,2016-05-15,Watford,Sunderland,2,2,D,38,46,48,60
3038,2016-05-15,West Bromwich Albion,Liverpool,1,1,D,33,62,47,49
3039,2016-05-17,Manchester United,Bournemouth,3,1,H,46,44,34,64

In [122]:
def get_points(result):
    if result == 'W':
        return 3
    elif result == 'D':
        return 1
    else:
        return 0
    

def get_cuml_points(matchres):
    matchres_points = matchres.applymap(get_points)
    for i in range(2,31):
        matchres_points[i] = matchres_points[i] + matchres_points[i-1]
        
    matchres_points.insert(column =0, loc = 0, value = [0*i for i in range(20)])
    return matchres_points


def get_matchres(playing_stat):
#     print("here")
    # Create a dictionary with team names as keys
    teams = {}
    for i in playing_stat.groupby('HomeTeam').mean().T.columns:
        teams[i] = []

    # the value corresponding to keys is a list containing the match result
    for i in range(len(playing_stat)):
        if playing_stat.iloc[i].FTR == 'H':
            teams[playing_stat.iloc[i].HomeTeam].append('W')
            teams[playing_stat.iloc[i].AwayTeam].append('L')
        elif playing_stat.iloc[i].FTR == 'A':
            teams[playing_stat.iloc[i].AwayTeam].append('W')
            teams[playing_stat.iloc[i].HomeTeam].append('L')
        else:
            teams[playing_stat.iloc[i].AwayTeam].append('D')
            teams[playing_stat.iloc[i].HomeTeam].append('D')
    
#     for i in teams.keys():
#         print("check",len(teams[i]))
#         print(teams[i])
#         if len(teams[i])>=31:
#             teams[i]=teams[i][:30]
#             print("check",len(teams[i]))
#     print("teams",len(teams["Arsenal"]))
#     print(teams)
            
    return pd.DataFrame(data=teams, index = [i for i in range(1,39)]).T

def get_agg_points(playing_stat):
    matchres = get_matchres(playing_stat)
    cum_pts = get_cuml_points(matchres)
    HTP = []
    ATP = []
    j = 0
    for i in range(380):
        ht = playing_stat.iloc[i].HomeTeam
        at = playing_stat.iloc[i].AwayTeam
        HTP.append(cum_pts.loc[ht][j])
        ATP.append(cum_pts.loc[at][j])

        if ((i + 1)% 10) == 0:
            j = j + 1
            
    playing_stat['HTP'] = HTP
    playing_stat['ATP'] = ATP
    return playing_stat
    
# Apply to each dataset
playing_statistics_1516=get_agg_points(playing_statistics_1516)
playing_statistics_1415=get_agg_points(playing_statistics_1415)
playing_statistics_1314=get_agg_points(playing_statistics_1314)
playing_statistics_1213=get_agg_points(playing_statistics_1213)
playing_statistics_1112=get_agg_points(playing_statistics_1112)
playing_statistics_1011=get_agg_points(playing_statistics_1011)
playing_statistics_0910=get_agg_points(playing_statistics_0910)
playing_statistics_0809=get_agg_points(playing_statistics_0809)

here
here
here
here
here
here
here
here

In [124]:
playing_statistics_1516.tail()

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTGS,ATGS,HTGC,ATGC,HTP,ATP
3035,2016-05-15,Stoke City,West Ham United,2,1,H,39,64,54,49,0,3
3036,2016-05-15,Swansea City,Manchester City,1,1,D,41,70,51,40,3,1
3037,2016-05-15,Watford,Sunderland,2,2,D,38,46,48,60,0,3
3038,2016-05-15,West Bromwich Albion,Liverpool,1,1,D,33,62,47,49,1,1
3039,2016-05-17,Manchester United,Bournemouth,3,1,H,46,44,34,64,0,1

In [126]:
def get_form(playing_stat,num):
    form = get_matchres(playing_stat)
    form_final = form.copy()
    for i in range(num,39):
        form_final[i] = ''
        j = 0
        while j < num:
            form_final[i] += form[i-j]
            j += 1           
    return form_final

def add_form(playing_stat,num):
    form = get_form(playing_stat,num)
    h = ['M' for i in range(num * 10)]  # since form is not available for n MW (n*10)
    a = ['M' for i in range(num * 10)]
    
    j = num
    for i in range((num*10),380):
        ht = playing_stat.iloc[i].HomeTeam
        at = playing_stat.iloc[i].AwayTeam
        
        past = form.loc[ht][j]               # get past n results
        h.append(past[num-1])                    # 0 index is most recent
        
        past = form.loc[at][j]               # get past n results.
        a.append(past[num-1])                   # 0 index is most recent
        
        if ((i + 1)% 10) == 0:
            j = j + 1
    
    playing_stat['HM' + str(num)] = h[:playing_stat.shape[0]]                 
    playing_stat['AM' + str(num)] = a[:playing_stat.shape[0]]

    
    return playing_stat


def add_form_df(playing_statistics):
    playing_statistics = add_form(playing_statistics,1)
    playing_statistics = add_form(playing_statistics,2)
    playing_statistics = add_form(playing_statistics,3)
    playing_statistics = add_form(playing_statistics,4)
    playing_statistics = add_form(playing_statistics,5)
    return playing_statistics    
    
# Make changes to df
playing_statistics_1516=add_form_df(playing_statistics_1516)
playing_statistics_1415=add_form_df(playing_statistics_1415)
playing_statistics_1314=add_form_df(playing_statistics_1314)
playing_statistics_1213=add_form_df(playing_statistics_1213)
playing_statistics_1112=add_form_df(playing_statistics_1112)
playing_statistics_1011=add_form_df(playing_statistics_1011)
playing_statistics_0910=add_form_df(playing_statistics_0910)
playing_statistics_0809=add_form_df(playing_statistics_0809)

here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here

In [127]:
playing_statistics_1516

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTGS,ATGS,HTGC,ATGC,HTP,ATP,HM1,AM1,HM2,AM2,HM3,AM3,HM4,AM4,HM5,AM5
2660,2015-08-08,Bournemouth,Aston Villa,0,1,A,0,0,0,0,0,0,M,M,M,M,M,M,M,M,M,M
2661,2015-08-08,Chelsea,Swansea City,2,2,D,0,0,0,0,0,0,M,M,M,M,M,M,M,M,M,M
2662,2015-08-08,Everton,Watford,2,2,D,0,0,0,0,0,0,M,M,M,M,M,M,M,M,M,M
2663,2015-08-08,Leicester City,Sunderland,4,2,H,0,0,0,0,0,0,M,M,M,M,M,M,M,M,M,M
2664,2015-08-08,Manchester United,Tottenham Hotspur,1,0,H,0,0,0,0,0,0,M,M,M,M,M,M,M,M,M,M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3035,2016-05-15,Stoke City,West Ham United,2,1,H,39,64,54,49,0,3,L,W,D,L,L,W,L,W,L,D
3036,2016-05-15,Swansea City,Manchester City,1,1,D,41,70,51,40,3,1,W,D,W,L,L,W,L,D,W,W
3037,2016-05-15,Watford,Sunderland,2,2,D,38,46,48,60,0,3,L,W,L,W,W,D,L,D,W,W
3038,2016-05-15,West Bromwich Albion,Liverpool,1,1,D,33,62,47,49,1,1,D,D,L,W,D,L,L,D,L,W
3039,2016-05-17,Manchester United,Bournemouth,3,1,H,46,44,34,64,0,1,L,D,W,L,D,L,W,L,W,W

In [128]:
cols = ['Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTGS', 'ATGS', 'HTGC', 'ATGC', 'HTP', 'ATP', 'HM1', 'HM2', 'HM3',
        'HM4', 'HM5', 'AM1', 'AM2', 'AM3', 'AM4', 'AM5' ]

playing_statistics_1516=playing_statistics_1516[cols]
playing_statistics_1415=playing_statistics_1415[cols]
playing_statistics_1314=playing_statistics_1314[cols]
playing_statistics_1213=playing_statistics_1213[cols]
playing_statistics_1112=playing_statistics_1112[cols]
playing_statistics_1011=playing_statistics_1011[cols]
playing_statistics_0910=playing_statistics_0910[cols]
playing_statistics_0809=playing_statistics_0809[cols]

In [130]:
playing_statistics_1516.tail()

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTGS,ATGS,HTGC,ATGC,HTP,ATP,HM1,HM2,HM3,HM4,HM5,AM1,AM2,AM3,AM4,AM5
3035,2016-05-15,Stoke City,West Ham United,2,1,H,39,64,54,49,0,3,L,D,L,L,L,W,L,W,W,D
3036,2016-05-15,Swansea City,Manchester City,1,1,D,41,70,51,40,3,1,W,W,L,L,W,D,L,W,D,W
3037,2016-05-15,Watford,Sunderland,2,2,D,38,46,48,60,0,3,L,L,W,L,W,W,W,D,D,W
3038,2016-05-15,West Bromwich Albion,Liverpool,1,1,D,33,62,47,49,1,1,D,L,D,L,L,D,W,L,D,W
3039,2016-05-17,Manchester United,Bournemouth,3,1,H,46,44,34,64,0,1,L,W,D,W,W,D,L,L,L,W

In [162]:
Standings

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
Team,,,,,,,,,,,,,,,,,
Arsenal,2,2,1,2,1,2,4,4,3,4,3,4,3,4,4,3,2
Aston Villa,6,8,8,16,6,10,16,11,6,6,6,9,16,15,15,17,20
Birmingham,18,18,18,13,10,12,18,18,19,18,9,18,18,18,18,18,18
Blackburn,18,18,10,6,15,15,6,10,7,15,10,15,19,18,18,18,18
Blackpool,18,18,18,18,18,18,18,18,18,18,18,19,18,18,18,18,18
Bolton,18,18,16,17,8,6,8,7,16,13,14,14,18,18,18,18,18
Bournemouth,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,16
Bradford,17,20,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18
Burnley,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,19,18
Cardiff,18,18,18,18,18,18,18,18,18,18,18,18,18,18,20,18,18
Charlton,18,9,14,12,7,11,13,19,18,18,18,18,18,18,18,18,18
Chelsea,5,6,6,4,2,1,1,2,2,3,1,2,6,3,3,1,10
Coventry,14,19,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18
Crystal Palace,18,18,18,18,18,18,18,18,18,18,18,18,18,18,11,10,15
Derby,16,17,19,18,18,18,18,18,20,18,18,18,18,18,18,18,18
Everton,13,16,15,7,17,4,11,6,5,5,8,7,7,6,5,11,11
Fulham,18,18,13,14,9,13,12,18,17,7,12,8,9,12,19,18,18
Hull,18,18,18,18,18,18,18,18,18,17,19,18,18,18,16,18,18
Ipswich,18,5,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18
Leeds,3,4,5,15,19,18,18,18,18,18,18,18,18,18,18,18,18
Leicester City,8,13,20,18,18,18,18,18,18,18,18,18,18,18,18,14,1
Liverpool,4,3,2,5,4,5,3,3,4,2,7,6,8,7,2,6,8
Manchester City,18,18,18,9,16,8,15,14,9,10,5,3,1,2,1,2,4
Manchester United,1,1,3,1,3,3,2,1,1,1,2,1,2,1,7,4,5
Middlesboro,12,14,12,11,11,7,14,12,13,19,18,18,18,18,18,18,18
Middlesbrough,12,14,12,11,11,7,14,12,13,19,18,18,18,18,18,18,18
Newcastle United,11,11,4,3,5,14,7,13,12,18,18,12,5,16,10,15,18
Norwich City,18,18,18,18,18,19,18,18,18,18,18,18,12,11,18,18,19
Portsmouth,18,18,18,18,13,16,17,9,8,14,20,18,18,18,18,18,18
QPR,18,18,18,18,18,18,18,18,18,18,18,18,17,20,18,18,18
Reading,18,18,18,18,18,18,18,8,18,18,18,18,18,19,18,20,18
Sheffield United,19,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18
Southampton,15,10,11,8,12,20,18,18,18,18,18,18,18,14,8,7,6
Stoke City,18,18,18,18,18,18,18,18,18,12,11,13,14,13,9,9,9
Sunderland,7,7,17,20,18,18,20,18,15,16,13,10,13,17,14,16,17
Swansea City,18,18,18,18,18,18,18,18,18,18,18,18,11,9,12,8,12
Tottenham Hotspur,10,12,9,10,15,9,5,5,11,8,4,5,4,5,6,5,3
Watford,20,18,18,18,18,18,18,20,18,18,18,18,18,18,18,18,13
West Bromwich Albion,18,18,18,19,18,17,19,18,18,20,18,11,10,8,17,13,14
West Ham United,9,15,7,18,18,18,9,15,10,9,17,20,18,10,13,12,7
Wigan,18,18,18,18,18,18,10,18,14,11,16,16,15,18,18,18,18
Wolves,18,18,18,18,20,18,18,18,18,18,15,17,20,18,18,18,18
Wimbledon,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18

In [170]:
# Data source of `EPLStandings.csv`
# https://github.com/RudrakshTuwani/Football-Data-Analysis-and-Prediction/blob/master/Datasets/EPLStandings.csv
Standings = pd.read_csv("datasets/EPLStandings.csv")
Standings.set_index(['Team'], inplace=True)
Standings = Standings.fillna(18)
Standings = Standings.rename(index={'Swansea': 'Swansea City', 'Leicester': 'Leicester City',
                                    'Man United': 'Manchester United', 'Tottenham': 'Tottenham Hotspur',
                                    'Norwich': 'Norwich City', 'West Ham': 'West Ham United',
                                    'Newcastle': 'Newcastle United', 'Stoke': 'Stoke City',
                                    'West Brom': 'West Bromwich Albion', 'Man City': 'Manchester City',
                                    'QPR': 'Queens Park Rangers', 'Hull': 'Hull City',
                                    'Cardiff': 'Cardiff City', 'Wigan': 'Wigan Athletic',
                                    'Blackburn': 'Blackburn Rovers', 'Wolves': 'Wolverhampton Wanderers',
                                    'Bolton': 'Bolton Wanderers', 'Birmingham': 'Birmingham City'})
Standings = Standings.astype(int)
# print(Standings)

def get_last(playing_stat, Standings, year):
    HomeTeamLP = []
    AwayTeamLP = []
    for i in range(380):
        ht = playing_stat.iloc[i].HomeTeam
        at = playing_stat.iloc[i].AwayTeam
        HomeTeamLP.append(Standings.loc[ht][year])
        AwayTeamLP.append(Standings.loc[at][year])
    playing_stat['HomeTeamLP'] = HomeTeamLP
    playing_stat['AwayTeamLP'] = AwayTeamLP
    return playing_stat

playing_statistics_1516 = get_last(playing_statistics_1516, Standings, "2014")
playing_statistics_1415 = get_last(playing_statistics_1415, Standings, "2013")
playing_statistics_1314 = get_last(playing_statistics_1314, Standings, "2012")
playing_statistics_1213 = get_last(playing_statistics_1213, Standings, "2011")
playing_statistics_1112 = get_last(playing_statistics_1112, Standings, "2010")
playing_statistics_1011 = get_last(playing_statistics_1011, Standings, "2009")
playing_statistics_0910 = get_last(playing_statistics_0910, Standings, "2008")
playing_statistics_0809 = get_last(playing_statistics_0809, Standings, "2007")

In [171]:
playing_statistics_1516.head()

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTGS,ATGS,HTGC,ATGC,HTP,ATP,HM1,HM2,HM3,HM4,HM5,AM1,AM2,AM3,AM4,AM5,HomeTeamLP,AwayTeamLP
2660,2015-08-08,Bournemouth,Aston Villa,0,1,A,0,0,0,0,0,0,M,M,M,M,M,M,M,M,M,M,18,15
2661,2015-08-08,Chelsea,Swansea City,2,2,D,0,0,0,0,0,0,M,M,M,M,M,M,M,M,M,M,3,12
2662,2015-08-08,Everton,Watford,2,2,D,0,0,0,0,0,0,M,M,M,M,M,M,M,M,M,M,5,18
2663,2015-08-08,Leicester City,Sunderland,4,2,H,0,0,0,0,0,0,M,M,M,M,M,M,M,M,M,M,18,14
2664,2015-08-08,Manchester United,Tottenham Hotspur,1,0,H,0,0,0,0,0,0,M,M,M,M,M,M,M,M,M,M,7,6

In [173]:
def get_mw(playing_stat):
    j = 1
    MatchWeek = []
    for i in range(380):
        MatchWeek.append(j)
        if ((i + 1)% 10) == 0:
            j = j + 1
    playing_stat['MW'] = MatchWeek
    return playing_stat

playing_statistics_1516 = get_mw(playing_statistics_1516)
playing_statistics_1415 = get_mw(playing_statistics_1415)
playing_statistics_1314 = get_mw(playing_statistics_1314)
playing_statistics_1213 = get_mw(playing_statistics_1213)
playing_statistics_1112 = get_mw(playing_statistics_1112)
playing_statistics_1011 = get_mw(playing_statistics_1011)
playing_statistics_0910 = get_mw(playing_statistics_0910)
playing_statistics_0809 = get_mw(playing_statistics_0809)

In [204]:
playing_stat = pd.concat([playing_statistics_1516,
                         playing_statistics_1415,
                         playing_statistics_1314,
                         playing_statistics_1213,
                         playing_statistics_1112,
                         playing_statistics_1011,
                         playing_statistics_0910,
                         playing_statistics_0809], ignore_index=True)


# Gets the form points.
def get_form_points(string):
    sum = 0
    for letter in string:
        sum += get_points(letter)
    return sum

playing_stat['HTFormPtsStr'] = playing_stat['HM1'] + playing_stat['HM2'] + playing_stat['HM3'] + playing_stat['HM4'] + playing_stat['HM5']
playing_stat['ATFormPtsStr'] = playing_stat['AM1'] + playing_stat['AM2'] + playing_stat['AM3'] + playing_stat['AM4'] + playing_stat['AM5']

playing_stat['HTFormPts'] = playing_stat['HTFormPtsStr'].apply(get_form_points)
playing_stat['ATFormPts'] = playing_stat['ATFormPtsStr'].apply(get_form_points)

# Identify Win/Loss Streaks if any.
def get_3game_ws(string):
    if string[-3:] == 'WWW':
        return 1
    else:
        return 0
    
def get_5game_ws(string):
    if string == 'WWWWW':
        return 1
    else:
        return 0
    
def get_3game_ls(string):
    if string[-3:] == 'LLL':
        return 1
    else:
        return 0
    
def get_5game_ls(string):
    if string == 'LLLLL':
        return 1
    else:
        return 0
    
playing_stat['HTWinStreak3'] = playing_stat['HTFormPtsStr'].apply(get_3game_ws)
playing_stat['HTWinStreak5'] = playing_stat['HTFormPtsStr'].apply(get_5game_ws)
playing_stat['HTLossStreak3'] = playing_stat['HTFormPtsStr'].apply(get_3game_ls)
playing_stat['HTLossStreak5'] = playing_stat['HTFormPtsStr'].apply(get_5game_ls)

playing_stat['ATWinStreak3'] = playing_stat['ATFormPtsStr'].apply(get_3game_ws)
playing_stat['ATWinStreak5'] = playing_stat['ATFormPtsStr'].apply(get_5game_ws)
playing_stat['ATLossStreak3'] = playing_stat['ATFormPtsStr'].apply(get_3game_ls)
playing_stat['ATLossStreak5'] = playing_stat['ATFormPtsStr'].apply(get_5game_ls)

playing_stat.keys()

Index(['Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTGS', 'ATGS',
       'HTGC', 'ATGC', 'HTP', 'ATP', 'HM1', 'HM2', 'HM3', 'HM4', 'HM5', 'AM1',
       'AM2', 'AM3', 'AM4', 'AM5', 'HomeTeamLP', 'AwayTeamLP', 'MW',
       'HTFormPtsStr', 'ATFormPtsStr', 'HTFormPts', 'ATFormPts',
       'HTWinStreak3', 'HTWinStreak5', 'HTLossStreak3', 'HTLossStreak5',
       'ATWinStreak3', 'ATWinStreak5', 'ATLossStreak3', 'ATLossStreak5'],
      dtype='object')

In [205]:
# Get Goal Difference
playing_stat['HTGD'] = playing_stat['HTGS'] - playing_stat['HTGC']
playing_stat['ATGD'] = playing_stat['ATGS'] - playing_stat['ATGC']

# Diff in points
playing_stat['DiffPts'] = playing_stat['HTP'] - playing_stat['ATP']
playing_stat['DiffFormPts'] = playing_stat['HTFormPts'] - playing_stat['ATFormPts']

# Diff in last year positions
playing_stat['DiffLP'] = playing_stat['HomeTeamLP'] - playing_stat['AwayTeamLP']

In [206]:
playing_stat.head()

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTGS,ATGS,HTGC,ATGC,HTP,ATP,HM1,HM2,HM3,HM4,HM5,AM1,AM2,AM3,AM4,AM5,HomeTeamLP,AwayTeamLP,MW,HTFormPtsStr,ATFormPtsStr,HTFormPts,ATFormPts,HTWinStreak3,HTWinStreak5,HTLossStreak3,HTLossStreak5,ATWinStreak3,ATWinStreak5,ATLossStreak3,ATLossStreak5,HTGD,ATGD,DiffPts,DiffFormPts,DiffLP
0,2015-08-08,Bournemouth,Aston Villa,0,1,A,0,0,0,0,0,0,M,M,M,M,M,M,M,M,M,M,18,15,1,MMMMM,MMMMM,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3
1,2015-08-08,Chelsea,Swansea City,2,2,D,0,0,0,0,0,0,M,M,M,M,M,M,M,M,M,M,3,12,1,MMMMM,MMMMM,0,0,0,0,0,0,0,0,0,0,0,0,0,0,-9
2,2015-08-08,Everton,Watford,2,2,D,0,0,0,0,0,0,M,M,M,M,M,M,M,M,M,M,5,18,1,MMMMM,MMMMM,0,0,0,0,0,0,0,0,0,0,0,0,0,0,-13
3,2015-08-08,Leicester City,Sunderland,4,2,H,0,0,0,0,0,0,M,M,M,M,M,M,M,M,M,M,18,14,1,MMMMM,MMMMM,0,0,0,0,0,0,0,0,0,0,0,0,0,0,4
4,2015-08-08,Manchester United,Tottenham Hotspur,1,0,H,0,0,0,0,0,0,M,M,M,M,M,M,M,M,M,M,7,6,1,MMMMM,MMMMM,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1

In [207]:
def only_hw(string):
    if string == 'H':
        return 'H'
    else:
        return 'NH'
    
playing_stat['FTR'] = playing_stat.FTR.apply(only_hw)

In [208]:
playing_stat=playing_stat.drop(["Date","HomeTeam","AwayTeam","HomeTeamLP","AwayTeamLP","HTFormPts","ATFormPts",
                                "FTHG","FTAG","HTFormPtsStr","ATFormPtsStr"],axis=1)
playing_stat.head()

,FTR,HTGS,ATGS,HTGC,ATGC,HTP,ATP,HM1,HM2,HM3,HM4,HM5,AM1,AM2,AM3,AM4,AM5,MW,HTWinStreak3,HTWinStreak5,HTLossStreak3,HTLossStreak5,ATWinStreak3,ATWinStreak5,ATLossStreak3,ATLossStreak5,HTGD,ATGD,DiffPts,DiffFormPts,DiffLP
0,NH,0,0,0,0,0,0,M,M,M,M,M,M,M,M,M,M,1,0,0,0,0,0,0,0,0,0,0,0,0,3
1,NH,0,0,0,0,0,0,M,M,M,M,M,M,M,M,M,M,1,0,0,0,0,0,0,0,0,0,0,0,0,-9
2,NH,0,0,0,0,0,0,M,M,M,M,M,M,M,M,M,M,1,0,0,0,0,0,0,0,0,0,0,0,0,-13
3,H,0,0,0,0,0,0,M,M,M,M,M,M,M,M,M,M,1,0,0,0,0,0,0,0,0,0,0,0,0,4
4,H,0,0,0,0,0,0,M,M,M,M,M,M,M,M,M,M,1,0,0,0,0,0,0,0,0,0,0,0,0,1

In [209]:
playing_stat.keys()

Index(['FTR', 'HTGS', 'ATGS', 'HTGC', 'ATGC', 'HTP', 'ATP', 'HM1', 'HM2',
       'HM3', 'HM4', 'HM5', 'AM1', 'AM2', 'AM3', 'AM4', 'AM5', 'MW',
       'HTWinStreak3', 'HTWinStreak5', 'HTLossStreak3', 'HTLossStreak5',
       'ATWinStreak3', 'ATWinStreak5', 'ATLossStreak3', 'ATLossStreak5',
       'HTGD', 'ATGD', 'DiffPts', 'DiffFormPts', 'DiffLP'],
      dtype='object')

In [210]:
# Scale DiffPts , DiffFormPts, HTGD, ATGD by Matchweek.
cols = ['HTGD','ATGD','DiffPts','DiffFormPts','HTP','ATP']

In [211]:
playing_stat.MW = playing_stat.MW.astype(float)

for col in cols:
    playing_stat[col] = playing_stat[col] / playing_stat.MW

In [212]:
# playing_stat.HTGS=(playing_stat.HTGS)/
playing_stat.HTGS=playing_stat.HTGS/playing_stat.HTGS.max()

In [213]:
playing_stat.ATGS=playing_stat.ATGS/playing_stat.ATGS.max()
playing_stat.HTGC=playing_stat.HTGC/playing_stat.HTGC.max()
playing_stat.ATGC=playing_stat.ATGC/playing_stat.ATGC.max()
playing_stat

,FTR,HTGS,ATGS,HTGC,ATGC,HTP,ATP,HM1,HM2,HM3,HM4,HM5,AM1,AM2,AM3,AM4,AM5,MW,HTWinStreak3,HTWinStreak5,HTLossStreak3,HTLossStreak5,ATWinStreak3,ATWinStreak5,ATLossStreak3,ATLossStreak5,HTGD,ATGD,DiffPts,DiffFormPts,DiffLP
0,NH,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,M,M,M,M,M,M,M,M,M,M,1.0,0,0,0,0,0,0,0,0,0.000000,0.000000,0.000000,0.000000,3
1,NH,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,M,M,M,M,M,M,M,M,M,M,1.0,0,0,0,0,0,0,0,0,0.000000,0.000000,0.000000,0.000000,-9
2,NH,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,M,M,M,M,M,M,M,M,M,M,1.0,0,0,0,0,0,0,0,0,0.000000,0.000000,0.000000,0.000000,-13
3,H,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,M,M,M,M,M,M,M,M,M,M,1.0,0,0,0,0,0,0,0,0,0.000000,0.000000,0.000000,0.000000,4
4,H,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,M,M,M,M,M,M,M,M,M,M,1.0,0,0,0,0,0,0,0,0,0.000000,0.000000,0.000000,0.000000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3035,H,0.74,0.458333,0.313253,0.531646,0.078947,0.078947,W,W,W,W,D,W,D,W,L,W,38.0,0,0,0,0,0,0,0,0,1.263158,0.052632,0.000000,0.078947,-2
3036,H,0.57,0.427083,0.602410,0.658228,0.000000,0.026316,L,L,W,W,W,D,D,D,D,L,38.0,1,0,0,0,0,0,0,0,0.184211,-0.289474,-0.026316,0.131579,7
3037,NH,0.32,0.677083,0.614458,0.278481,0.000000,0.078947,L,D,L,L,W,W,W,W,W,D,38.0,0,0,0,0,0,0,0,0,-0.500000,1.131579,-0.078947,-0.236842,16
3038,H,0.40,0.281250,0.530120,0.696203,0.000000,0.026316,L,L,W,L,D,D,L,L,L,D,38.0,0,0,0,0,0,0,0,0,-0.105263,-0.736842,-0.026316,0.052632,3
3039,H,0.33,0.395833,0.542169,0.708861,0.000000,0.078947,L,L,L,D,L,W,L,L,D,L,38.0,0,0,0,0,0,0,0,0,-0.315789,-0.473684,-0.078947,-0.078947,9

In [214]:
playing_stat=playing_stat.drop(["MW"],axis=1)

In [215]:
playing_stat.shape

(3040, 30)

In [216]:
3040 - 380

2660

In [217]:
# Testing set (2015-16 season)
test = playing_stat[2660:]
test

,FTR,HTGS,ATGS,HTGC,ATGC,HTP,ATP,HM1,HM2,HM3,HM4,HM5,AM1,AM2,AM3,AM4,AM5,HTWinStreak3,HTWinStreak5,HTLossStreak3,HTLossStreak5,ATWinStreak3,ATWinStreak5,ATLossStreak3,ATLossStreak5,HTGD,ATGD,DiffPts,DiffFormPts,DiffLP
2660,H,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,M,M,M,M,M,M,M,M,M,M,0,0,0,0,0,0,0,0,0.000000,0.000000,0.000000,0.000000,-14
2661,H,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,M,M,M,M,M,M,M,M,M,M,0,0,0,0,0,0,0,0,0.000000,0.000000,0.000000,0.000000,-11
2662,NH,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,M,M,M,M,M,M,M,M,M,M,0,0,0,0,0,0,0,0,0.000000,0.000000,0.000000,0.000000,-4
2663,H,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,M,M,M,M,M,M,M,M,M,M,0,0,0,0,0,0,0,0,0.000000,0.000000,0.000000,0.000000,0
2664,H,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,M,M,M,M,M,M,M,M,M,M,0,0,0,0,0,0,0,0,0.000000,0.000000,0.000000,0.000000,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3035,H,0.74,0.458333,0.313253,0.531646,0.078947,0.078947,W,W,W,W,D,W,D,W,L,W,0,0,0,0,0,0,0,0,1.263158,0.052632,0.000000,0.078947,-2
3036,H,0.57,0.427083,0.602410,0.658228,0.000000,0.026316,L,L,W,W,W,D,D,D,D,L,1,0,0,0,0,0,0,0,0.184211,-0.289474,-0.026316,0.131579,7
3037,NH,0.32,0.677083,0.614458,0.278481,0.000000,0.078947,L,D,L,L,W,W,W,W,W,D,0,0,0,0,0,0,0,0,-0.500000,1.131579,-0.078947,-0.236842,16
3038,H,0.40,0.281250,0.530120,0.696203,0.000000,0.026316,L,L,W,L,D,D,L,L,L,D,0,0,0,0,0,0,0,0,-0.105263,-0.736842,-0.026316,0.052632,3
3039,H,0.33,0.395833,0.542169,0.708861,0.000000,0.078947,L,L,L,D,L,W,L,L,D,L,0,0,0,0,0,0,0,0,-0.315789,-0.473684,-0.078947,-0.078947,9

In [221]:
# Train dataset (season 2008/2009 until 2014/2015)
train=playing_stat[:2660]
train

,FTR,HTGS,ATGS,HTGC,ATGC,HTP,ATP,HM1,HM2,HM3,HM4,HM5,AM1,AM2,AM3,AM4,AM5,HTWinStreak3,HTWinStreak5,HTLossStreak3,HTLossStreak5,ATWinStreak3,ATWinStreak5,ATLossStreak3,ATLossStreak5,HTGD,ATGD,DiffPts,DiffFormPts,DiffLP
0,NH,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,M,M,M,M,M,M,M,M,M,M,0,0,0,0,0,0,0,0,0.000000,0.000000,0.000000,0.000000,3
1,NH,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,M,M,M,M,M,M,M,M,M,M,0,0,0,0,0,0,0,0,0.000000,0.000000,0.000000,0.000000,-9
2,NH,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,M,M,M,M,M,M,M,M,M,M,0,0,0,0,0,0,0,0,0.000000,0.000000,0.000000,0.000000,-13
3,H,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,M,M,M,M,M,M,M,M,M,M,0,0,0,0,0,0,0,0,0.000000,0.000000,0.000000,0.000000,4
4,H,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,M,M,M,M,M,M,M,M,M,M,0,0,0,0,0,0,0,0,0.000000,0.000000,0.000000,0.000000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2655,H,0.59,0.354167,0.590361,0.822785,0.026316,0.078947,D,W,W,D,D,W,D,L,D,D,0,0,0,0,0,0,0,0,0.263158,-0.815789,-0.052632,0.078947,-3
2656,NH,0.34,0.635417,0.903614,0.443038,0.026316,0.000000,D,L,L,D,L,L,W,W,D,D,0,0,0,0,0,0,0,0,-1.078947,0.684211,0.026316,-0.157895,14
2657,H,0.82,0.354167,0.337349,0.556962,0.078947,0.078947,W,W,W,D,L,W,D,L,L,D,0,0,0,0,0,0,0,0,1.421053,-0.263158,0.000000,0.131579,-17
2658,NH,0.46,0.750000,0.783133,0.556962,0.000000,0.000000,L,W,L,W,D,L,W,D,L,W,0,0,0,0,0,0,0,0,-0.500000,0.736842,0.000000,0.000000,1
2659,H,0.30,0.489583,0.662651,0.683544,0.000000,0.000000,L,D,D,D,L,L,W,W,L,W,0,0,0,0,0,0,0,0,-0.657895,-0.184211,0.000000,-0.157895,3

In [222]:
print(train.shape)
print(test.shape)

(2660, 30)
(380, 30)

## Label Encoding Preprocessing

In [249]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder

In [250]:
ftrLE=LabelEncoder()
train.FTR=ftrLE.fit_transform(train.FTR)
test.FTR=ftrLE.transform(test.FTR)
test.head()

,FTR,HTGS,ATGS,HTGC,ATGC,HTP,ATP,HM1,HM2,HM3,HM4,HM5,AM1,AM2,AM3,AM4,AM5,HTWinStreak3,HTWinStreak5,HTLossStreak3,HTLossStreak5,ATWinStreak3,ATWinStreak5,ATLossStreak3,ATLossStreak5,HTGD,ATGD,DiffPts,DiffFormPts,DiffLP,final1,final2
2660,0,0.0,0.0,0.0,0.0,0.0,0.0,M,2,2,2,2,2,2,2,2,2,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,-14,1.0,0.0
2661,0,0.0,0.0,0.0,0.0,0.0,0.0,M,2,2,2,2,2,2,2,2,2,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,-11,1.0,0.0
2662,1,0.0,0.0,0.0,0.0,0.0,0.0,M,2,2,2,2,2,2,2,2,2,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,-4,0.0,1.0
2663,0,0.0,0.0,0.0,0.0,0.0,0.0,M,2,2,2,2,2,2,2,2,2,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0,1.0,0.0
2664,0,0.0,0.0,0.0,0.0,0.0,0.0,M,2,2,2,2,2,2,2,2,2,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,7,1.0,0.0

In [251]:
hmLE=LabelEncoder()
train.HM1=hmLE.fit_transform(train.HM1)
test.HM1=hmLE.transform(test.HM1)
test.head()

,FTR,HTGS,ATGS,HTGC,ATGC,HTP,ATP,HM1,HM2,HM3,HM4,HM5,AM1,AM2,AM3,AM4,AM5,HTWinStreak3,HTWinStreak5,HTLossStreak3,HTLossStreak5,ATWinStreak3,ATWinStreak5,ATLossStreak3,ATLossStreak5,HTGD,ATGD,DiffPts,DiffFormPts,DiffLP,final1,final2
2660,0,0.0,0.0,0.0,0.0,0.0,0.0,2,2,2,2,2,2,2,2,2,2,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,-14,1.0,0.0
2661,0,0.0,0.0,0.0,0.0,0.0,0.0,2,2,2,2,2,2,2,2,2,2,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,-11,1.0,0.0
2662,1,0.0,0.0,0.0,0.0,0.0,0.0,2,2,2,2,2,2,2,2,2,2,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,-4,0.0,1.0
2663,0,0.0,0.0,0.0,0.0,0.0,0.0,2,2,2,2,2,2,2,2,2,2,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0,1.0,0.0
2664,0,0.0,0.0,0.0,0.0,0.0,0.0,2,2,2,2,2,2,2,2,2,2,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,7,1.0,0.0

In [252]:
train.HM2=hmLE.fit_transform(train.HM2)
train.HM3=hmLE.fit_transform(train.HM3)
train.HM4=hmLE.fit_transform(train.HM4)
train.HM5=hmLE.fit_transform(train.HM5)
train.AM1=hmLE.fit_transform(train.AM1)
train.AM2=hmLE.fit_transform(train.AM2)
train.AM3=hmLE.fit_transform(train.AM3)
train.AM4=hmLE.fit_transform(train.AM4)
train.AM5=hmLE.fit_transform(train.AM5)

test.HM2=hmLE.fit_transform(test.HM2)
test.HM3=hmLE.fit_transform(test.HM3)
test.HM4=hmLE.fit_transform(test.HM4)
test.HM5=hmLE.fit_transform(test.HM5)
test.AM1=hmLE.fit_transform(test.AM1)
test.AM2=hmLE.fit_transform(test.AM2)
test.AM3=hmLE.fit_transform(test.AM3)
test.AM4=hmLE.fit_transform(test.AM4)
test.AM5=hmLE.fit_transform(test.AM5)

In [253]:
test.head()

,FTR,HTGS,ATGS,HTGC,ATGC,HTP,ATP,HM1,HM2,HM3,HM4,HM5,AM1,AM2,AM3,AM4,AM5,HTWinStreak3,HTWinStreak5,HTLossStreak3,HTLossStreak5,ATWinStreak3,ATWinStreak5,ATLossStreak3,ATLossStreak5,HTGD,ATGD,DiffPts,DiffFormPts,DiffLP,final1,final2
2660,0,0.0,0.0,0.0,0.0,0.0,0.0,2,2,2,2,2,2,2,2,2,2,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,-14,1.0,0.0
2661,0,0.0,0.0,0.0,0.0,0.0,0.0,2,2,2,2,2,2,2,2,2,2,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,-11,1.0,0.0
2662,1,0.0,0.0,0.0,0.0,0.0,0.0,2,2,2,2,2,2,2,2,2,2,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,-4,0.0,1.0
2663,0,0.0,0.0,0.0,0.0,0.0,0.0,2,2,2,2,2,2,2,2,2,2,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0,1.0,0.0
2664,0,0.0,0.0,0.0,0.0,0.0,0.0,2,2,2,2,2,2,2,2,2,2,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,7,1.0,0.0

In [254]:
print(train.shape)
print(test.shape)

(2660, 32)
(380, 32)

In [255]:
onehotencoder=OneHotEncoder()
# onehotencoder.fit(train.FTR.reshape(-1,1))
onehotencoder.fit(train.FTR.values.reshape(-1,1))
#reference https://stackoverflow.com/questions/53723928/attributeerror-series-object-has-no-attribute-reshape

OneHotEncoder(categories='auto', drop=None, dtype=<class 'numpy.float64'>,
              handle_unknown='error', sparse=True)

In [256]:
finalTrain=onehotencoder.transform([[each] for each in train.FTR]).toarray()
finalTest=onehotencoder.transform([[each] for each in test.FTR]).toarray()

In [257]:
print(finalTrain.shape)
print(finalTest.shape)

(2660, 2)
(380, 2)

In [258]:
train.loc[:,"final1"]=finalTrain[:,0]
train.loc[:,"final2"]=finalTrain[:,1]
train.head()

,FTR,HTGS,ATGS,HTGC,ATGC,HTP,ATP,HM1,HM2,HM3,HM4,HM5,AM1,AM2,AM3,AM4,AM5,HTWinStreak3,HTWinStreak5,HTLossStreak3,HTLossStreak5,ATWinStreak3,ATWinStreak5,ATLossStreak3,ATLossStreak5,HTGD,ATGD,DiffPts,DiffFormPts,DiffLP,final1,final2
0,1,0.0,0.0,0.0,0.0,0.0,0.0,2,2,2,2,2,2,2,2,2,2,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,3,0.0,1.0
1,1,0.0,0.0,0.0,0.0,0.0,0.0,2,2,2,2,2,2,2,2,2,2,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,-9,0.0,1.0
2,1,0.0,0.0,0.0,0.0,0.0,0.0,2,2,2,2,2,2,2,2,2,2,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,-13,0.0,1.0
3,0,0.0,0.0,0.0,0.0,0.0,0.0,2,2,2,2,2,2,2,2,2,2,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,4,1.0,0.0
4,0,0.0,0.0,0.0,0.0,0.0,0.0,2,2,2,2,2,2,2,2,2,2,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,1,1.0,0.0

In [259]:
test.loc[:,"final1"]=finalTest[:,0]
test.loc[:,"final2"]=finalTest[:,1]
test.head()

,FTR,HTGS,ATGS,HTGC,ATGC,HTP,ATP,HM1,HM2,HM3,HM4,HM5,AM1,AM2,AM3,AM4,AM5,HTWinStreak3,HTWinStreak5,HTLossStreak3,HTLossStreak5,ATWinStreak3,ATWinStreak5,ATLossStreak3,ATLossStreak5,HTGD,ATGD,DiffPts,DiffFormPts,DiffLP,final1,final2
2660,0,0.0,0.0,0.0,0.0,0.0,0.0,2,2,2,2,2,2,2,2,2,2,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,-14,1.0,0.0
2661,0,0.0,0.0,0.0,0.0,0.0,0.0,2,2,2,2,2,2,2,2,2,2,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,-11,1.0,0.0
2662,1,0.0,0.0,0.0,0.0,0.0,0.0,2,2,2,2,2,2,2,2,2,2,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,-4,0.0,1.0
2663,0,0.0,0.0,0.0,0.0,0.0,0.0,2,2,2,2,2,2,2,2,2,2,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0,1.0,0.0
2664,0,0.0,0.0,0.0,0.0,0.0,0.0,2,2,2,2,2,2,2,2,2,2,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,7,1.0,0.0

In [260]:
# train=train.drop(["HM5","AM5"],axis=1)
# test=test.drop(["HM5","AM5"],axis=1)

In [261]:
print(train.shape)
print(test.shape)

(2660, 32)
(380, 32)

In [262]:
train.to_csv("datasets/data_train_onehot.csv",index=None)
test.to_csv("datasets/data_test_onehot.csv",index=None)

## Test Prediction

In [263]:
import pandas as pd
import numpy as np
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import train_test_split

%load_ext autoreload
%autoreload 2

# making all pandas columns visable with display command
pd.set_option('display.max_columns', 500)

from tensorflow.keras.models import Model
from tensorflow.keras.layers import Input, Conv2D, Activation, Flatten, Dense, Dropout, LSTM
from tensorflow.keras.optimizers import Adam

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [264]:
# train=pd.read_csv("datasets/allAtt_onehot_large_train.csv")
# test=pd.read_csv("datasets/allAtt_onehot_large_test.csv")
train=pd.read_csv("datasets/data_train_onehot.csv")
test=pd.read_csv("datasets/data_test_onehot.csv")
# print(train.head())
# print(train.shape)

In [265]:
X_train = train.drop(columns = ['FTR'])
y_train = train['FTR']
print(X_train.shape)
print(y_train.shape)

(2660, 31)
(2660,)

In [266]:
X_test = test.drop(columns = ['FTR'])
y_test = test['FTR']
print(X_test.shape)
print(y_test.shape)

(380, 31)
(380,)

In [267]:
columns = X_train.shape[1]
columns

31

In [268]:
# 41-75-3
# We first need to define the sequence of dependencies (the computational graph)
# x = Input(shape=(20,32))
x = Input(shape=(columns,))
# h = Conv2D(32, (7, 7), strides=(2, 2))(x)
# h = Activation('relu')(x)
h = Flatten()(x)
h = Dense(41)(h)
h = Dense(75)(h)
# for i in range(10):
#     h = Dense(75)(h)
h = Dropout(0.3)(h)
p = Activation('softmax')(h)

# Now that we have defined how to find p from x, we can create a 
# model simply by saying what is input and what is output
model = Model(inputs=x, outputs=p)
model.compile(loss='sparse_categorical_crossentropy', optimizer=Adam(lr=0.00001), metrics=['accuracy'])
model.summary()

WARNING:tensorflow:From /Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/tensorflow/python/ops/resource_variable_ops.py:435: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.
WARNING:tensorflow:From /Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/tensorflow/python/keras/layers/core.py:143: calling dropout (from tensorflow.python.ops.nn_ops) with keep_prob is deprecated and will be removed in a future version.
Instructions for updating:
Please use `rate` instead of `keep_prob`. Rate should be set to `rate = 1 - keep_prob`.
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_1 (InputLayer)         (None, 31)                0
_________________________________________________________________
flatten (Flatten)            (None, 31)                0
_________________________________________________________________
dense (Dense)                (None, 41)                1312
_________________________________________________________________
dense_1 (Dense)              (None, 75)                3150
_________________________________________________________________
dropout (Dropout)            (None, 75)                0
_________________________________________________________________
activation (Activation)      (None, 75)                0
=================================================================
Total params: 4,462
Trainable params: 4,462
Non-trainable params: 0
_________________________________________________________________

In [ ]:
history = model.fit(X_train, y_train, batch_size=8, epochs=200, validation_split=0.04)

Train on 2553 samples, validate on 107 samples
Epoch 1/200
2553/2553 [==============================] - 2s 616us/sample - loss: 6.3774 - acc: 0.0020 - val_loss: 5.6441 - val_acc: 0.0000e+00
Epoch 2/200
2553/2553 [==============================] - 1s 463us/sample - loss: 5.9269 - acc: 0.0027 - val_loss: 5.2960 - val_acc: 0.0000e+00
Epoch 3/200
2553/2553 [==============================] - 1s 427us/sample - loss: 5.5472 - acc: 0.0086 - val_loss: 4.9567 - val_acc: 0.0000e+00
Epoch 4/200
2553/2553 [==============================] - 2s 595us/sample - loss: 5.1829 - acc: 0.0192 - val_loss: 4.6243 - val_acc: 0.0093
Epoch 5/200
2553/2553 [==============================] - 1s 456us/sample - loss: 4.7867 - acc: 0.0345 - val_loss: 4.3028 - val_acc: 0.0187
Epoch 6/200
2553/2553 [==============================] - 1s 474us/sample - loss: 4.4972 - acc: 0.0564 - val_loss: 4.0015 - val_acc: 0.0748
Epoch 7/200
2553/2553 [==============================] - 1s 454us/sample - loss: 4.1194 - acc: 0.0944 - val_loss: 3.7075 - val_acc: 0.1121
Epoch 8/200
2553/2553 [==============================] - 1s 529us/sample - loss: 3.8833 - acc: 0.1359 - val_loss: 3.4371 - val_acc: 0.1682
Epoch 9/200
2553/2553 [==============================] - 1s 554us/sample - loss: 3.5946 - acc: 0.1806 - val_loss: 3.1792 - val_acc: 0.2336
Epoch 10/200
2553/2553 [==============================] - 1s 504us/sample - loss: 3.3540 - acc: 0.2327 - val_loss: 2.9420 - val_acc: 0.3271
Epoch 11/200
2553/2553 [==============================] - 1s 517us/sample - loss: 3.1391 - acc: 0.2738 - val_loss: 2.7254 - val_acc: 0.3832
Epoch 12/200
2553/2553 [==============================] - 1s 453us/sample - loss: 2.9102 - acc: 0.3459 - val_loss: 2.5204 - val_acc: 0.4393
Epoch 13/200
2553/2553 [==============================] - 1s 399us/sample - loss: 2.7256 - acc: 0.3909 - val_loss: 2.3357 - val_acc: 0.5047
Epoch 14/200
2553/2553 [==============================] - 1s 444us/sample - loss: 2.6213 - acc: 0.4128 - val_loss: 2.1704 - val_acc: 0.6075
Epoch 15/200
2553/2553 [==============================] - 1s 435us/sample - loss: 2.4775 - acc: 0.4508 - val_loss: 2.0216 - val_acc: 0.6449
Epoch 16/200
2553/2553 [==============================] - 1s 418us/sample - loss: 2.3800 - acc: 0.4720 - val_loss: 1.8901 - val_acc: 0.6355
Epoch 17/200
2553/2553 [==============================] - 1s 401us/sample - loss: 2.3222 - acc: 0.4712 - val_loss: 1.7758 - val_acc: 0.6449
Epoch 18/200
2553/2553 [==============================] - 1s 384us/sample - loss: 2.1853 - acc: 0.4967 - val_loss: 1.6665 - val_acc: 0.6542
Epoch 19/200
2553/2553 [==============================] - 1s 378us/sample - loss: 2.0879 - acc: 0.5241 - val_loss: 1.5725 - val_acc: 0.6542
Epoch 20/200
2553/2553 [==============================] - 1s 381us/sample - loss: 2.0371 - acc: 0.5198 - val_loss: 1.4898 - val_acc: 0.6916
Epoch 21/200
2553/2553 [==============================] - 1s 391us/sample - loss: 2.0045 - acc: 0.5276 - val_loss: 1.4110 - val_acc: 0.6916
Epoch 22/200
2553/2553 [==============================] - 1s 406us/sample - loss: 1.9449 - acc: 0.5448 - val_loss: 1.3435 - val_acc: 0.7009
Epoch 23/200
2553/2553 [==============================] - 1s 389us/sample - loss: 1.9849 - acc: 0.5213 - val_loss: 1.2840 - val_acc: 0.7103
Epoch 24/200
2553/2553 [==============================] - 1s 421us/sample - loss: 1.8328 - acc: 0.5546 - val_loss: 1.2250 - val_acc: 0.7196
Epoch 25/200
2553/2553 [==============================] - 1s 320us/sample - loss: 1.8448 - acc: 0.5515 - val_loss: 1.1728 - val_acc: 0.7196
Epoch 26/200
2553/2553 [==============================] - 1s 294us/sample - loss: 1.8777 - acc: 0.5460 - val_loss: 1.1262 - val_acc: 0.7196
Epoch 27/200
2553/2553 [==============================] - 1s 296us/sample - loss: 1.7795 - acc: 0.5664 - val_loss: 1.0824 - val_acc: 0.7570
Epoch 28/200
2553/2553 [==============================] - 1s 300us/sample - loss: 1.8219 - acc: 0.5507 - val_loss: 1.0465 - val_acc: 0.7664
Epoch 29/200
2553/2553 [==============================] - 1s 334us/sample - loss: 1.7951 - acc: 0.5605 - val_loss: 1.0128 - val_acc: 0.7757
Epoch 30/200
2553/2553 [==============================] - 1s 311us/sample - loss: 1.7313 - acc: 0.5825 - val_loss: 0.9787 - val_acc: 0.7850
Epoch 31/200
2553/2553 [==============================] - 1s 311us/sample - loss: 1.7272 - acc: 0.5817 - val_loss: 0.9447 - val_acc: 0.7850
Epoch 32/200
2553/2553 [==============================] - 1s 289us/sample - loss: 1.6622 - acc: 0.6009 - val_loss: 0.9147 - val_acc: 0.7850
Epoch 33/200
2553/2553 [==============================] - 1s 289us/sample - loss: 1.7340 - acc: 0.5899 - val_loss: 0.8891 - val_acc: 0.7850
Epoch 34/200
2553/2553 [==============================] - 1s 288us/sample - loss: 1.7149 - acc: 0.5919 - val_loss: 0.8663 - val_acc: 0.8037
Epoch 35/200
2553/2553 [==============================] - 1s 297us/sample - loss: 1.6141 - acc: 0.6338 - val_loss: 0.8379 - val_acc: 0.8131
Epoch 36/200
2553/2553 [==============================] - 1s 302us/sample - loss: 1.6901 - acc: 0.6013 - val_loss: 0.8163 - val_acc: 0.8131
Epoch 37/200
2553/2553 [==============================] - 1s 301us/sample - loss: 1.6012 - acc: 0.6349 - val_loss: 0.7909 - val_acc: 0.8318
Epoch 38/200
2553/2553 [==============================] - 1s 285us/sample - loss: 1.5534 - acc: 0.6443 - val_loss: 0.7655 - val_acc: 0.8318
Epoch 39/200
2553/2553 [==============================] - 1s 297us/sample - loss: 1.5431 - acc: 0.6533 - val_loss: 0.7406 - val_acc: 0.8318
Epoch 40/200
2553/2553 [==============================] - 1s 283us/sample - loss: 1.5082 - acc: 0.6643 - val_loss: 0.7173 - val_acc: 0.8411
Epoch 41/200
2553/2553 [==============================] - 1s 285us/sample - loss: 1.5067 - acc: 0.6694 - val_loss: 0.6956 - val_acc: 0.8411
Epoch 42/200
2553/2553 [==============================] - 1s 286us/sample - loss: 1.5172 - acc: 0.6710 - val_loss: 0.6752 - val_acc: 0.8411
Epoch 43/200
2553/2553 [==============================] - 1s 349us/sample - loss: 1.5375 - acc: 0.6577 - val_loss: 0.6565 - val_acc: 0.8692
Epoch 44/200
2553/2553 [==============================] - 1s 300us/sample - loss: 1.4983 - acc: 0.6741 - val_loss: 0.6372 - val_acc: 0.8692
Epoch 45/200
2553/2553 [==============================] - 1s 291us/sample - loss: 1.4971 - acc: 0.6780 - val_loss: 0.6181 - val_acc: 0.8785
Epoch 46/200
2553/2553 [==============================] - 1s 302us/sample - loss: 1.4977 - acc: 0.6866 - val_loss: 0.6004 - val_acc: 0.8785
Epoch 47/200
2553/2553 [==============================] - 1s 332us/sample - loss: 1.4466 - acc: 0.7054 - val_loss: 0.5816 - val_acc: 0.8879
Epoch 48/200
2553/2553 [==============================] - 1s 305us/sample - loss: 1.4640 - acc: 0.6925 - val_loss: 0.5640 - val_acc: 0.8879
Epoch 49/200
2553/2553 [==============================] - 1s 315us/sample - loss: 1.4220 - acc: 0.7082 - val_loss: 0.5454 - val_acc: 0.9065
Epoch 50/200
2553/2553 [==============================] - 1s 315us/sample - loss: 1.5212 - acc: 0.6792 - val_loss: 0.5312 - val_acc: 0.9065
Epoch 51/200
2553/2553 [==============================] - 1s 302us/sample - loss: 1.4096 - acc: 0.7031 - val_loss: 0.5164 - val_acc: 0.9346
Epoch 52/200
2553/2553 [==============================] - 1s 291us/sample - loss: 1.4026 - acc: 0.7078 - val_loss: 0.4998 - val_acc: 0.9346
Epoch 53/200
2553/2553 [==============================] - 1s 293us/sample - loss: 1.3714 - acc: 0.7199 - val_loss: 0.4848 - val_acc: 0.9346
Epoch 54/200
2553/2553 [==============================] - ETA: 0s - loss: 1.3965 - acc: 0.713 - 1s 300us/sample - loss: 1.3989 - acc: 0.7129 - val_loss: 0.4711 - val_acc: 0.9533
Epoch 55/200
2553/2553 [==============================] - 1s 329us/sample - loss: 1.4135 - acc: 0.7082 - val_loss: 0.4556 - val_acc: 0.9533
Epoch 56/200
2553/2553 [==============================] - 1s 296us/sample - loss: 1.3588 - acc: 0.7254 - val_loss: 0.4403 - val_acc: 0.9533
Epoch 57/200
2553/2553 [==============================] - 1s 344us/sample - loss: 1.3414 - acc: 0.7258 - val_loss: 0.4262 - val_acc: 0.9533
Epoch 58/200
2553/2553 [==============================] - 1s 354us/sample - loss: 1.3943 - acc: 0.7141 - val_loss: 0.4139 - val_acc: 0.9626

Epoch 59/200
2553/2553 [==============================] - 1s 279us/sample - loss: 1.3578 - acc: 0.7207 - val_loss: 0.4000 - val_acc: 0.9626
Epoch 60/200
2553/2553 [==============================] - 1s 262us/sample - loss: 1.3330 - acc: 0.7211 - val_loss: 0.3876 - val_acc: 0.9626
Epoch 61/200
2553/2553 [==============================] - 1s 277us/sample - loss: 1.3372 - acc: 0.7215 - val_loss: 0.3758 - val_acc: 0.9813
Epoch 62/200
2553/2553 [==============================] - 1s 244us/sample - loss: 1.2796 - acc: 0.7364 - val_loss: 0.3617 - val_acc: 0.9907
Epoch 63/200
2553/2553 [==============================] - 1s 227us/sample - loss: 1.3317 - acc: 0.7254 - val_loss: 0.3504 - val_acc: 0.9907
Epoch 64/200
2553/2553 [==============================] - 1s 246us/sample - loss: 1.2649 - acc: 0.7391 - val_loss: 0.3386 - val_acc: 0.9907
Epoch 65/200
2553/2553 [==============================] - 1s 251us/sample - loss: 1.2879 - acc: 0.7395 - val_loss: 0.3271 - val_acc: 0.9907
Epoch 66/200
2553/2553 [==============================] - 1s 223us/sample - loss: 1.2574 - acc: 0.7383 - val_loss: 0.3161 - val_acc: 0.9907
Epoch 67/200
2553/2553 [==============================] - 1s 222us/sample - loss: 1.3109 - acc: 0.7266 - val_loss: 0.3059 - val_acc: 0.9907
Epoch 68/200
2553/2553 [==============================] - 1s 223us/sample - loss: 1.2391 - acc: 0.7501 - val_loss: 0.2962 - val_acc: 0.9907
Epoch 69/200
2553/2553 [==============================] - 1s 222us/sample - loss: 1.2736 - acc: 0.7297 - val_loss: 0.2870 - val_acc: 0.9907
Epoch 70/200
2553/2553 [==============================] - 1s 223us/sample - loss: 1.2680 - acc: 0.7309 - val_loss: 0.2777 - val_acc: 1.0000
Epoch 71/200
2553/2553 [==============================] - 1s 224us/sample - loss: 1.2471 - acc: 0.7387 - val_loss: 0.2686 - val_acc: 1.0000
Epoch 72/200
2553/2553 [==============================] - 1s 223us/sample - loss: 1.2676 - acc: 0.7305 - val_loss: 0.2595 - val_acc: 1.0000
Epoch 73/200
2553/2553 [==============================] - 1s 223us/sample - loss: 1.2269 - acc: 0.7356 - val_loss: 0.2511 - val_acc: 1.0000
Epoch 74/200
2553/2553 [==============================] - 1s 238us/sample - loss: 1.2307 - acc: 0.7387 - val_loss: 0.2433 - val_acc: 1.0000
Epoch 75/200
2553/2553 [==============================] - 1s 223us/sample - loss: 1.2114 - acc: 0.7407 - val_loss: 0.2348 - val_acc: 1.0000
Epoch 76/200
2553/2553 [==============================] - 1s 244us/sample - loss: 1.2084 - acc: 0.7395 - val_loss: 0.2271 - val_acc: 1.0000
Epoch 77/200
2553/2553 [==============================] - 1s 243us/sample - loss: 1.2234 - acc: 0.7293 - val_loss: 0.2193 - val_acc: 1.0000
Epoch 78/200
2553/2553 [==============================] - 1s 234us/sample - loss: 1.1968 - acc: 0.7466 - val_loss: 0.2122 - val_acc: 1.0000
Epoch 79/200
2553/2553 [==============================] - 1s 255us/sample - loss: 1.2314 - acc: 0.7387 - val_loss: 0.2050 - val_acc: 1.0000
Epoch 80/200
2553/2553 [==============================] - 1s 222us/sample - loss: 1.1821 - acc: 0.7411 - val_loss: 0.1970 - val_acc: 1.0000
Epoch 81/200
2553/2553 [==============================] - 1s 229us/sample - loss: 1.2009 - acc: 0.7395 - val_loss: 0.1904 - val_acc: 1.0000
Epoch 82/200
2553/2553 [==============================] - 1s 222us/sample - loss: 1.1525 - acc: 0.7485 - val_loss: 0.1836 - val_acc: 1.0000
Epoch 83/200
2553/2553 [==============================] - 1s 232us/sample - loss: 1.1744 - acc: 0.7415 - val_loss: 0.1776 - val_acc: 1.0000
Epoch 84/200
2553/2553 [==============================] - 1s 279us/sample - loss: 1.2152 - acc: 0.7286 - val_loss: 0.1717 - val_acc: 1.0000
Epoch 85/200
2553/2553 [==============================] - 1s 273us/sample - loss: 1.1966 - acc: 0.7364 - val_loss: 0.1664 - val_acc: 1.0000
Epoch 86/200
2553/2553 [==============================] - 1s 261us/sample - loss: 1.1684 - acc: 0.7356 - val_loss: 0.1605 - val_acc: 1.0000
Epoch 87/200
2553/2553 [==============================] - 1s 266us/sample - loss: 1.1553 - acc: 0.7380 - val_loss: 0.1547 - val_acc: 1.0000
Epoch 88/200
2553/2553 [==============================] - 1s 243us/sample - loss: 1.1441 - acc: 0.7352 - val_loss: 0.1491 - val_acc: 1.0000
Epoch 89/200
2553/2553 [==============================] - 1s 258us/sample - loss: 1.1864 - acc: 0.7313 - val_loss: 0.1441 - val_acc: 1.0000
Epoch 90/200
2553/2553 [==============================] - 1s 256us/sample - loss: 1.1148 - acc: 0.7532 - val_loss: 0.1384 - val_acc: 1.0000
Epoch 91/200
2553/2553 [==============================] - 1s 251us/sample - loss: 1.1509 - acc: 0.7380 - val_loss: 0.1337 - val_acc: 1.0000
Epoch 92/200
2553/2553 [==============================] - 1s 248us/sample - loss: 1.1257 - acc: 0.7438 - val_loss: 0.1289 - val_acc: 1.0000
Epoch 93/200
2553/2553 [==============================] - 1s 252us/sample - loss: 1.1348 - acc: 0.7336 - val_loss: 0.1242 - val_acc: 1.0000
Epoch 94/200
2553/2553 [==============================] - 1s 241us/sample - loss: 1.1257 - acc: 0.7344 - val_loss: 0.1195 - val_acc: 1.0000
Epoch 95/200
2553/2553 [==============================] - 1s 254us/sample - loss: 1.1000 - acc: 0.7399 - val_loss: 0.1152 - val_acc: 1.0000
Epoch 96/200
2553/2553 [==============================] - 1s 262us/sample - loss: 1.1063 - acc: 0.7391 - val_loss: 0.1112 - val_acc: 1.0000
Epoch 97/200
2553/2553 [==============================] - 1s 249us/sample - loss: 1.1162 - acc: 0.7383 - val_loss: 0.1071 - val_acc: 1.0000
Epoch 98/200
2553/2553 [==============================] - 1s 291us/sample - loss: 1.1317 - acc: 0.7309 - val_loss: 0.1034 - val_acc: 1.0000
Epoch 99/200
2553/2553 [==============================] - 1s 273us/sample - loss: 1.0496 - acc: 0.7509 - val_loss: 0.0997 - val_acc: 1.0000
Epoch 100/200
2553/2553 [==============================] - 1s 279us/sample - loss: 1.0929 - acc: 0.7376 - val_loss: 0.0957 - val_acc: 1.0000
Epoch 101/200
2553/2553 [==============================] - 1s 299us/sample - loss: 1.1113 - acc: 0.7380 - val_loss: 0.0920 - val_acc: 1.0000
Epoch 102/200
2553/2553 [==============================] - 1s 333us/sample - loss: 1.0611 - acc: 0.7438 - val_loss: 0.0885 - val_acc: 1.0000
Epoch 103/200
2553/2553 [==============================] - 1s 340us/sample - loss: 1.0699 - acc: 0.7513 - val_loss: 0.0852 - val_acc: 1.0000
Epoch 104/200
2553/2553 [==============================] - 1s 395us/sample - loss: 1.1173 - acc: 0.7270 - val_loss: 0.0821 - val_acc: 1.0000
Epoch 105/200
2553/2553 [==============================] - 1s 342us/sample - loss: 1.0545 - acc: 0.7419 - val_loss: 0.0788 - val_acc: 1.0000
Epoch 106/200
2553/2553 [==============================] - 1s 274us/sample - loss: 1.0377 - acc: 0.7438 - val_loss: 0.0758 - val_acc: 1.0000
Epoch 107/200
2553/2553 [==============================] - 1s 264us/sample - loss: 1.0850 - acc: 0.7356 - val_loss: 0.0730 - val_acc: 1.0000
Epoch 108/200
2553/2553 [==============================] - 1s 256us/sample - loss: 1.0519 - acc: 0.7360 - val_loss: 0.0699 - val_acc: 1.0000
Epoch 109/200
2553/2553 [==============================] - 1s 264us/sample - loss: 1.0732 - acc: 0.7438 - val_loss: 0.0674 - val_acc: 1.0000
Epoch 110/200
2553/2553 [==============================] - 1s 292us/sample - loss: 1.0452 - acc: 0.7470 - val_loss: 0.0650 - val_acc: 1.0000
Epoch 111/200
2553/2553 [==============================] - 1s 379us/sample - loss: 1.0113 - acc: 0.7607 - val_loss: 0.0623 - val_acc: 1.0000
Epoch 112/200
2553/2553 [==============================] - 1s 344us/sample - loss: 1.0538 - acc: 0.7423 - val_loss: 0.0596 - val_acc: 1.0000
Epoch 113/200
2553/2553 [==============================] - 1s 327us/sample - loss: 1.0578 - acc: 0.7376 - val_loss: 0.0573 - val_acc: 1.0000
Epoch 114/200
2553/2553 [==============================] - 1s 331us/sample - loss: 1.0558 - acc: 0.7403 - val_loss: 0.0551 - val_acc: 1.0000
Epoch 115/200
2553/2553 [==============================] - 1s 359us/sample - loss: 1.0577 - acc: 0.7305 - val_loss: 0.0531 - val_acc: 1.0000
Epoch 116/200
2553/2553 [==============================] - 1s 358us/sample - loss: 1.0506 - acc: 0.7368 - val_loss: 0.0510 - val_acc: 1.0000
Epoch 117/200

2553/2553 [==============================] - 1s 262us/sample - loss: 1.0346 - acc: 0.7442 - val_loss: 0.0488 - val_acc: 1.0000
Epoch 118/200
2553/2553 [==============================] - 1s 281us/sample - loss: 1.0099 - acc: 0.7540 - val_loss: 0.0468 - val_acc: 1.0000
Epoch 119/200
2553/2553 [==============================] - 1s 290us/sample - loss: 0.9760 - acc: 0.7615 - val_loss: 0.0448 - val_acc: 1.0000
Epoch 120/200
2553/2553 [==============================] - 1s 364us/sample - loss: 1.0050 - acc: 0.7497 - val_loss: 0.0431 - val_acc: 1.0000
Epoch 121/200
2553/2553 [==============================] - 1s 327us/sample - loss: 1.0381 - acc: 0.7462 - val_loss: 0.0414 - val_acc: 1.0000
Epoch 122/200
2553/2553 [==============================] - 1s 344us/sample - loss: 1.0432 - acc: 0.7368 - val_loss: 0.0395 - val_acc: 1.0000
Epoch 123/200
2553/2553 [==============================] - 1s 488us/sample - loss: 1.0004 - acc: 0.7466 - val_loss: 0.0378 - val_acc: 1.0000
Epoch 124/200
2553/2553 [==============================] - 1s 342us/sample - loss: 0.9637 - acc: 0.7646 - val_loss: 0.0361 - val_acc: 1.0000
Epoch 125/200
2553/2553 [==============================] - 1s 293us/sample - loss: 1.0125 - acc: 0.7454 - val_loss: 0.0346 - val_acc: 1.0000
Epoch 126/200
2553/2553 [==============================] - 1s 303us/sample - loss: 1.0000 - acc: 0.7501 - val_loss: 0.0331 - val_acc: 1.0000
Epoch 127/200
2553/2553 [==============================] - 1s 263us/sample - loss: 1.0314 - acc: 0.7544 - val_loss: 0.0318 - val_acc: 1.0000
Epoch 128/200
2553/2553 [==============================] - 1s 277us/sample - loss: 0.9878 - acc: 0.7509 - val_loss: 0.0304 - val_acc: 1.0000
Epoch 129/200
2553/2553 [==============================] - 1s 269us/sample - loss: 1.0206 - acc: 0.7524 - val_loss: 0.0292 - val_acc: 1.0000
Epoch 130/200
2553/2553 [==============================] - 1s 287us/sample - loss: 0.9890 - acc: 0.7677 - val_loss: 0.0279 - val_acc: 1.0000
Epoch 131/200
2553/2553 [==============================] - 1s 255us/sample - loss: 1.0548 - acc: 0.7383 - val_loss: 0.0267 - val_acc: 1.0000
Epoch 132/200
2553/2553 [==============================] - 1s 249us/sample - loss: 0.9753 - acc: 0.7685 - val_loss: 0.0255 - val_acc: 1.0000
Epoch 133/200
2553/2553 [==============================] - 1s 267us/sample - loss: 1.0280 - acc: 0.7658 - val_loss: 0.0243 - val_acc: 1.0000
Epoch 134/200
2553/2553 [==============================] - 1s 258us/sample - loss: 0.9783 - acc: 0.7709 - val_loss: 0.0233 - val_acc: 1.0000
Epoch 135/200
2553/2553 [==============================] - 1s 246us/sample - loss: 0.9825 - acc: 0.7748 - val_loss: 0.0222 - val_acc: 1.0000
Epoch 136/200
2553/2553 [==============================] - 1s 261us/sample - loss: 1.0231 - acc: 0.7716 - val_loss: 0.0213 - val_acc: 1.0000
Epoch 137/200
2553/2553 [==============================] - 1s 394us/sample - loss: 1.0346 - acc: 0.7650 - val_loss: 0.0204 - val_acc: 1.0000
Epoch 138/200
2553/2553 [==============================] - 1s 258us/sample - loss: 0.9809 - acc: 0.7740 - val_loss: 0.0195 - val_acc: 1.0000
Epoch 139/200
2553/2553 [==============================] - 1s 257us/sample - loss: 0.9748 - acc: 0.7857 - val_loss: 0.0186 - val_acc: 1.0000
Epoch 140/200
2553/2553 [==============================] - 1s 257us/sample - loss: 0.9353 - acc: 0.7889 - val_loss: 0.0176 - val_acc: 1.0000
Epoch 141/200
2553/2553 [==============================] - 1s 257us/sample - loss: 0.9675 - acc: 0.7838 - val_loss: 0.0169 - val_acc: 1.0000
Epoch 142/200
2553/2553 [==============================] - 1s 377us/sample - loss: 1.0151 - acc: 0.7822 - val_loss: 0.0161 - val_acc: 1.0000
Epoch 143/200
2553/2553 [==============================] - 1s 280us/sample - loss: 0.9353 - acc: 0.8057 - val_loss: 0.0154 - val_acc: 1.0000
Epoch 144/200
2553/2553 [==============================] - 1s 254us/sample - loss: 0.9832 - acc: 0.7948 - val_loss: 0.0147 - val_acc: 1.0000
Epoch 145/200
2553/2553 [==============================] - 1s 284us/sample - loss: 0.9956 - acc: 0.7916 - val_loss: 0.0140 - val_acc: 1.0000
Epoch 146/200
2553/2553 [==============================] - 1s 309us/sample - loss: 0.9723 - acc: 0.7975 - val_loss: 0.0134 - val_acc: 1.0000
Epoch 147/200
2553/2553 [==============================] - 1s 295us/sample - loss: 0.9865 - acc: 0.8030 - val_loss: 0.0127 - val_acc: 1.0000
Epoch 148/200
2553/2553 [==============================] - 1s 282us/sample - loss: 1.0016 - acc: 0.7995 - val_loss: 0.0122 - val_acc: 1.0000
Epoch 149/200
2553/2553 [==============================] - 1s 244us/sample - loss: 0.9372 - acc: 0.8233 - val_loss: 0.0116 - val_acc: 1.0000
Epoch 150/200
2553/2553 [==============================] - 1s 378us/sample - loss: 0.8811 - acc: 0.8304 - val_loss: 0.0110 - val_acc: 1.0000
Epoch 151/200
2553/2553 [==============================] - 1s 341us/sample - loss: 0.9828 - acc: 0.8245 - val_loss: 0.0105 - val_acc: 1.0000
Epoch 152/200
2553/2553 [==============================] - 1s 255us/sample - loss: 0.9578 - acc: 0.8292 - val_loss: 0.0100 - val_acc: 1.0000
Epoch 153/200
2553/2553 [==============================] - 1s 309us/sample - loss: 0.9637 - acc: 0.8347 - val_loss: 0.0095 - val_acc: 1.0000
Epoch 154/200
2553/2553 [==============================] - 1s 251us/sample - loss: 0.9583 - acc: 0.8386 - val_loss: 0.0091 - val_acc: 1.0000
Epoch 155/200
2553/2553 [==============================] - 1s 449us/sample - loss: 1.0194 - acc: 0.8347 - val_loss: 0.0086 - val_acc: 1.0000
Epoch 156/200
2553/2553 [==============================] - 1s 446us/sample - loss: 0.9524 - acc: 0.8492 - val_loss: 0.0082 - val_acc: 1.0000
Epoch 157/200
2553/2553 [==============================] - 1s 522us/sample - loss: 0.9687 - acc: 0.8578 - val_loss: 0.0078 - val_acc: 1.0000
Epoch 158/200
2553/2553 [==============================] - 2s 632us/sample - loss: 0.9062 - acc: 0.8570 - val_loss: 0.0075 - val_acc: 1.0000
Epoch 159/200
2553/2553 [==============================] - 1s 377us/sample - loss: 1.0039 - acc: 0.8645 - val_loss: 0.0071 - val_acc: 1.0000
Epoch 160/200
2553/2553 [==============================] - 1s 377us/sample - loss: 0.9822 - acc: 0.8562 - val_loss: 0.0067 - val_acc: 1.0000
Epoch 161/200
2553/2553 [==============================] - 1s 343us/sample - loss: 0.9588 - acc: 0.8645 - val_loss: 0.0064 - val_acc: 1.0000
Epoch 162/200
2553/2553 [==============================] - 1s 341us/sample - loss: 0.9985 - acc: 0.8711 - val_loss: 0.0060 - val_acc: 1.0000
Epoch 163/200
2553/2553 [==============================] - 1s 323us/sample - loss: 0.9519 - acc: 0.8880 - val_loss: 0.0058 - val_acc: 1.0000
Epoch 164/200
2553/2553 [==============================] - 1s 257us/sample - loss: 0.9822 - acc: 0.8766 - val_loss: 0.0055 - val_acc: 1.0000
Epoch 165/200
2553/2553 [==============================] - 1s 250us/sample - loss: 0.9779 - acc: 0.8915 - val_loss: 0.0052 - val_acc: 1.0000
Epoch 166/200
2553/2553 [==============================] - 1s 317us/sample - loss: 0.9564 - acc: 0.8903 - val_loss: 0.0049 - val_acc: 1.0000
Epoch 167/200
2553/2553 [==============================] - 1s 310us/sample - loss: 0.9377 - acc: 0.9068 - val_loss: 0.0046 - val_acc: 1.0000
Epoch 168/200
2553/2553 [==============================] - 1s 341us/sample - loss: 0.9803 - acc: 0.9017 - val_loss: 0.0044 - val_acc: 1.0000
Epoch 169/200
2553/2553 [==============================] - 1s 357us/sample - loss: 0.9302 - acc: 0.9138 - val_loss: 0.0042 - val_acc: 1.0000
Epoch 170/200
2553/2553 [==============================] - 1s 359us/sample - loss: 0.9245 - acc: 0.9029 - val_loss: 0.0040 - val_acc: 1.0000
Epoch 171/200
2553/2553 [==============================] - 1s 262us/sample - loss: 0.9988 - acc: 0.9103 - val_loss: 0.0038 - val_acc: 1.0000
Epoch 172/200
2553/2553 [==============================] - 1s 251us/sample - loss: 0.9945 - acc: 0.9060 - val_loss: 0.0036 - val_acc: 1.0000
Epoch 173/200
2553/2553 [==============================] - 1s 299us/sample - loss: 0.9944 - acc: 0.9146 - val_loss: 0.0034 - val_acc: 1.0000
Epoch 174/200
2553/2553 [==============================] - 1s 291us/sample - loss: 0.9163 - acc: 0.9236 - val_loss: 0.0032 - val_acc: 1.0000
Epoch 175/200

2553/2553 [==============================] - 1s 261us/sample - loss: 0.9451 - acc: 0.9228 - val_loss: 0.0030 - val_acc: 1.0000
Epoch 176/200
2553/2553 [==============================] - 1s 312us/sample - loss: 1.0035 - acc: 0.9154 - val_loss: 0.0029 - val_acc: 1.0000
Epoch 177/200
2553/2553 [==============================] - 1s 307us/sample - loss: 0.9478 - acc: 0.9326 - val_loss: 0.0027 - val_acc: 1.0000
Epoch 178/200
2553/2553 [==============================] - 1s 251us/sample - loss: 0.8866 - acc: 0.9318 - val_loss: 0.0026 - val_acc: 1.0000
Epoch 179/200
2553/2553 [==============================] - 1s 248us/sample - loss: 0.9532 - acc: 0.9291 - val_loss: 0.0024 - val_acc: 1.0000
Epoch 180/200
2553/2553 [==============================] - 1s 392us/sample - loss: 0.9418 - acc: 0.9385 - val_loss: 0.0023 - val_acc: 1.0000
Epoch 181/200
2553/2553 [==============================] - 1s 344us/sample - loss: 0.9529 - acc: 0.9318 - val_loss: 0.0022 - val_acc: 1.0000
Epoch 182/200
2553/2553 [==============================] - 1s 309us/sample - loss: 0.9650 - acc: 0.9444 - val_loss: 0.0020 - val_acc: 1.0000
Epoch 183/200
2553/2553 [==============================] - 1s 489us/sample - loss: 0.9034 - acc: 0.9401 - val_loss: 0.0019 - val_acc: 1.0000
Epoch 184/200
2553/2553 [==============================] - 1s 360us/sample - loss: 0.8954 - acc: 0.9405 - val_loss: 0.0018 - val_acc: 1.0000
Epoch 185/200
2553/2553 [==============================] - 1s 383us/sample - loss: 0.8867 - acc: 0.9506 - val_loss: 0.0017 - val_acc: 1.0000
Epoch 186/200
2553/2553 [==============================] - 1s 305us/sample - loss: 0.9201 - acc: 0.9471 - val_loss: 0.0016 - val_acc: 1.0000
Epoch 187/200
2553/2553 [==============================] - 1s 360us/sample - loss: 0.9328 - acc: 0.9479 - val_loss: 0.0015 - val_acc: 1.0000
Epoch 188/200
2553/2553 [==============================] - 1s 283us/sample - loss: 0.9527 - acc: 0.9448 - val_loss: 0.0015 - val_acc: 1.0000
Epoch 189/200
2553/2553 [==============================] - 1s 322us/sample - loss: 0.9459 - acc: 0.9471 - val_loss: 0.0014 - val_acc: 1.0000
Epoch 190/200
2553/2553 [==============================] - 1s 282us/sample - loss: 0.9336 - acc: 0.9534 - val_loss: 0.0013 - val_acc: 1.0000
Epoch 191/200
2553/2553 [==============================] - 1s 272us/sample - loss: 0.9638 - acc: 0.9503 - val_loss: 0.0012 - val_acc: 1.0000
Epoch 192/200
2553/2553 [==============================] - 1s 285us/sample - loss: 0.9334 - acc: 0.9448 - val_loss: 0.0012 - val_acc: 1.0000
Epoch 193/200
2553/2553 [==============================] - 1s 256us/sample - loss: 0.9061 - acc: 0.9538 - val_loss: 0.0011 - val_acc: 1.0000
Epoch 194/200
2553/2553 [==============================] - 1s 261us/sample - loss: 0.9229 - acc: 0.9538 - val_loss: 0.0010 - val_acc: 1.0000
Epoch 195/200
2553/2553 [==============================] - 1s 313us/sample - loss: 0.9380 - acc: 0.9487 - val_loss: 9.7373e-04 - val_acc: 1.0000
Epoch 196/200
2553/2553 [==============================] - 1s 315us/sample - loss: 0.9623 - acc: 0.9479 - val_loss: 9.1922e-04 - val_acc: 1.0000
Epoch 197/200
2553/2553 [==============================] - 1s 314us/sample - loss: 0.8700 - acc: 0.9456 - val_loss: 8.6155e-04 - val_acc: 1.0000
Epoch 198/200
2553/2553 [==============================] - 1s 281us/sample - loss: 0.9589 - acc: 0.9479 - val_loss: 8.1461e-04 - val_acc: 1.0000
Epoch 199/200
2553/2553 [==============================] - 1s 282us/sample - loss: 0.9277 - acc: 0.9546 - val_loss: 7.6759e-04 - val_acc: 1.0000
Epoch 200/200
2360/2553 [==========================>...] - ETA: 0s - loss: 0.9635 - acc: 0.9487