# Betting by the odds

In [9]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
pd.set_option('display.max_columns', 500)

In [155]:
dataEPL =pd.read_csv("datasets/EPL_sort.csv")
dataLaliga =pd.read_csv("datasets/LaLiga_sort.csv")

In [156]:
dataEPL

,Unnamed: 0,id,season,stage,date,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,away_team_goal,B365H,B365D,B365A,home_y_card,home_r_card,away_y_card,away_r_card,home_shoton,away_shoton,home_shotoff,away_shotoff,home_foulcommit,away_foulcommit,home_cross,away_cross,home_corner,away_corner,home_possession,away_possession,HTP,ATP,Result
0,1,1730,2008/2009,1,2008-08-16 00:00:00,489043,Arsenal,West Bromwich Albion,1,0,1.20,6.50,15.00,0,0,0,0,12,2,13,3,11,9,21,7,7,5,66,34,0,0,H
1,7,1736,2008/2009,1,2008-08-16 00:00:00,489049,Bolton Wanderers,Stoke City,3,1,1.83,3.50,4.50,1,0,2,0,5,1,7,6,14,15,22,29,4,3,47,53,0,0,H
2,5,1734,2008/2009,1,2008-08-16 00:00:00,489047,Everton,Blackburn Rovers,2,3,2.00,3.30,4.00,2,0,2,0,2,8,7,8,11,11,14,21,3,4,51,49,0,0,A
3,8,1737,2008/2009,1,2008-08-16 00:00:00,489050,Hull City,Fulham,2,1,2.60,3.20,2.80,3,0,0,0,5,4,5,6,10,9,16,14,5,6,53,47,0,0,H
4,6,1735,2008/2009,1,2008-08-16 00:00:00,489048,Middlesbrough,Tottenham Hotspur,2,1,3.20,3.40,2.25,1,0,2,0,7,2,5,5,11,11,25,27,7,9,53,47,0,0,H
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3035,2976,4705,2015/2016,38,2016-05-15 00:00:00,1987603,Stoke City,West Ham United,2,1,3.50,3.60,2.15,3,0,1,0,3,10,2,7,8,12,13,18,4,10,45,55,48,62,H
3036,2977,4706,2015/2016,38,2016-05-15 00:00:00,1987604,Swansea City,Manchester City,1,1,6.00,4.75,1.53,1,0,3,0,1,5,2,12,5,19,14,15,4,4,50,50,46,65,D
3037,2978,4707,2015/2016,38,2016-05-15 00:00:00,1987605,Watford,Sunderland,2,2,2.05,3.75,3.70,1,0,0,0,6,2,10,2,10,9,9,12,7,4,49,51,44,38,D
3038,2979,4708,2015/2016,38,2016-05-15 00:00:00,1987606,West Bromwich Albion,Liverpool,1,1,2.40,3.60,3.00,3,0,1,0,5,3,8,3,12,13,12,14,7,5,33,67,42,59,D
3039,2973,4702,2015/2016,38,2016-05-17 00:00:00,1987600,Manchester United,Bournemouth,3,1,1.67,4.20,5.25,1,0,0,0,5,5,4,2,9,8,16,5,7,1,68,32,63,42,H

In [157]:
columns = ['B365H','B365D','B365A']
X = dataEPL[columns]

In [158]:
X

      B365H  B365D  B365A
0      1.20   6.50  15.00
1      1.83   3.50   4.50
2      2.00   3.30   4.00
3      2.60   3.20   2.80
4      3.20   3.40   2.25
...     ...    ...    ...
3035   3.50   3.60   2.15
3036   6.00   4.75   1.53
3037   2.05   3.75   3.70
3038   2.40   3.60   3.00
3039   1.67   4.20   5.25

[3040 rows x 3 columns]

In [19]:
X.loc[0]

B365H     1.2
B365D     6.5
B365A    15.0
Name: 0, dtype: float64

In [159]:
Y = dataEPL.Result
y_true = Y.tolist()
y_true[0]

'H'

In [160]:
#from sklearn.preprocessing import LabelEncoder
#ftrLE=LabelEncoder()
#Y =ftrLE.fit_transform(Y)

In [161]:
Y

0       H
1       H
2       A
3       H
4       H
       ..
3035    H
3036    D
3037    D
3038    D
3039    H
Name: Result, Length: 3040, dtype: object

## betting odds in favour strategy

In [142]:
def bet(odds, strategy):
    predict = None
    if strategy == 'favour':
        target_odd = odds.idxmin()
        odd = odds.min()
    elif strategy == 'against':
        target_odd = odds.idxmax()
        odd = odds.max()
    if target_odd == 'B365H':
        predict = 'H'
    elif target_odd =='B365D':
        predict = 'D'
    else:
        predict = 'A'
    return predict, odd

In [162]:
y_pred =[]
for i in range(len(X)):
    pred, odd = bet(X.loc[i],'favour')
    y_pred.append(pred)

In [163]:
print("EPL Accuracy = ", sum(1 for x,y in zip(y_pred,y_true) if x == y) / len(y_pred))

EPL Accuracy =  0.5332236842105263

In [170]:
#change dataset to laliga
columns = ['B365H','B365D','B365A']
X = dataLaliga[columns]
Y = dataLaliga.Result
y_true = Y.tolist()

In [171]:
y_pred =[]
for i in range(len(X)):
    pred, odd = bet(X.loc[i],'favour')
    y_pred.append(pred)

In [172]:
print("La Liga Accuracy = ", sum(1 for x,y in zip(y_pred,y_true) if x == y) / len(y_pred))

La Liga Accuracy =  0.5625

### Betting Simulation

In [173]:
y_pred =[]
money = 1000
for i in range(len(X)):
    money = money - 10
    pred, odd = bet(X.loc[i],'favour')
    if(pred == y_true[i]):
        money += 10 * float(odd)
        #print("won bet, money balance =",money)
    #else:
        #print("lost bet, money balance =",money)

In [169]:
print("Final Money Balance (La liga)", money)

Final Money Balance (La liga) 530.5999999999975

In [174]:
#change dataset to epl
columns = ['B365H','B365D','B365A']
X = dataEPL[columns]
Y = dataEPL.Result
y_true = Y.tolist()

In [175]:
y_pred =[]
money = 1000
for i in range(len(X)):
    money = money - 10
    pred, odd = bet(X.loc[i],'favour')
    if(pred == y_true[i]):
        money += 10 * float(odd)
        #print("won bet, money balance =",money)
    #else:
        #print("lost bet, money balance =",money)

In [176]:
print("Final Money Balance (EPL)", money)

Final Money Balance (EPL) -245.00000000000085

## betting against odds in favour strategy

In [177]:
#change dataset to EPL
columns = ['B365H','B365D','B365A']
X = dataEPL[columns]
Y = dataEPL.Result
y_true = Y.tolist()

In [178]:
y_pred =[]
for i in range(len(X)):
    pred, odd = bet(X.loc[i],'against')
    y_pred.append(pred)

In [180]:
print("EPL Accuracy = ", sum(1 for x,y in zip(y_pred,y_true) if x == y) / len(y_pred))

EPL Accuracy =  0.21907894736842104

In [181]:
#change dataset to laliga
columns = ['B365H','B365D','B365A']
X = dataLaliga[columns]
Y = dataLaliga.Result
y_true = Y.tolist()

In [182]:
y_pred =[]
for i in range(len(X)):
    pred, odd = bet(X.loc[i],'against')
    y_pred.append(pred)

In [183]:
print("La Liga Accuracy = ", sum(1 for x,y in zip(y_pred,y_true) if x == y) / len(y_pred))

La Liga Accuracy =  0.20230263157894737

### Betting Simulation

In [186]:
#change dataset to EPL
columns = ['B365H','B365D','B365A']
X = dataEPL[columns]
Y = dataEPL.Result
y_true = Y.tolist()

In [189]:
y_pred =[]
money = 1000
for i in range(len(X)):
    money = money - 10
    pred, odd = bet(X.loc[i],'against')
    if(pred == y_true[i]):
        money += 10 * float(odd)

In [190]:
print("Final Money Balance (EPL)", money)

Final Money Balance (EPL) 1149.2

In [195]:
#change dataset to laliga
columns = ['B365H','B365D','B365A']
X = dataLaliga[columns]
Y = dataLaliga.Result
y_true = Y.tolist()

In [200]:
y_pred =[]
money = 1000
for i in range(len(X)):
    money = money - 10
    pred, odd = bet(X.loc[i],'against')
    if(pred == y_true[i]):
        money += 10 * float(odd)

In [201]:
print("Final Money Balance (La Liga)", money)

Final Money Balance (La Liga) -2093.6000000000004